<html>
<head>
  <title>The Joyful 12! from JoyFoodly</title>
  <%= content_tag :meta, '', property: 'og:title', content: 'The Joyful 12! from JoyFoodly' %>
  <%= content_tag :meta, '', property: 'og:site_name', content: 'The Joyful 12! from JoyFoodly' %>
  <%= content_tag :meta, '', property: 'og:url', content: 'http://www.joyful12.com' %>
  <%= content_tag :meta, '', property: 'og:description', content: 'The Joyful 12 is an online crash course in helping your family eat more fruits and veggies from Chef Hollie Greene. Get access to our entire classroom, with parent resources, recipes, videos and tips for cooking with kids.' %>
  <%= content_tag :meta, '', property: 'og:image', content: image_path('social-media/default-share.png') %>
  <%= content_tag :meta, '', property: 'og:app_id', content: ENV['FB_APP_ID'] %>
  <%= content_tag :meta, '', property: 'og:type', content: 'website' %>
  <%= content_tag :meta, '', property: 'og:locale', content: 'en_US' %>
  <%= content_tag :meta, '', property: 'article:author', content: 'https://www.facebook.com/hollie.greene.16' %>
  <%= content_tag :meta, '', property: 'article:publisher', content: 'https://www.facebook.com/JoyFoodly' %>
</head>
<body>
</body>
</html>
