<html>
<head>
  <title>The Joyful 12! is a kitchen learning lab for families.</title>
  <%= content_tag :meta, '', property: 'og:title', content: 'Joyful 12! a Kitchen Learning Lab for Families.' %>
  <%= content_tag :meta, '', property: 'og:site_name', content: 'Joyful 12! a Kitchen Learning Lab for Families.' %>
  <%= content_tag :meta, '', property: 'og:url', content: 'https://www.joyful12.com' %>
  <%= content_tag :meta, '', property: 'og:description', content: 'Join me in the Joyful 12 Kitchen Learning Lab! Chef Hollie Greene teaches families, like us, how to cook and eat more vegetables and fruits each season. Gluten free and allergen friendly, with videos to teach you everything you need to know--from getting your child to love trying veggies--to fun ways to prep summer squash!' %>
  <%= content_tag :meta, '', property: 'og:image', content: image_url('http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/b5c35398f6cc29d33f3c933bd3de215b98175c5a.png?1404031203') %>
  <%= content_tag :meta, '', property: 'og:app_id', content: ENV['FB_APP_ID'] %>
  <%= content_tag :meta, '', property: 'og:type', content: 'website' %>
  <%= content_tag :meta, '', property: 'og:locale', content: 'en_US' %>
  <%= content_tag :meta, '', property: 'article:author', content: 'https://www.facebook.com/hollie.greene.16' %>
  <%= content_tag :meta, '', property: 'article:publisher', content: 'https://www.facebook.com/JoyFoodly' %>


  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@joyfoodly">
  <meta name="twitter:title" content="Joyful 12! a Kitchen Learning Lab for Families.">
  <meta name="twitter:description" content="Join me in the Joyful 12 Kitchen Learning Lab! Learn from Chef Hollie and get
  your family excited about fruits and veggies.">
  <meta name="twitter:creator" content="@joyfoodly">
  <!-- Twitter Summary card images must be at least 200x200px -->
  <meta name="twitter:image" content="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/b5c35398f6cc29d33f3c933bd3de215b98175c5a.png?1404031203">




</head>
<body>
</body>
</html>
