<!-- ==============================================
		MAIN NAV
		=============================================== -->
<div id="main-nav" class="navbar navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>

      <!-- ======= LOGO ========-->
      <a class="navbar-brand scrollto" href="#home">


        <span class="logo-small"><%= image_tag 'qubico/joyful12-logo-small.png' %></span>

        <!-- ==== Image Logo ==== -->
        <!--<img class="site-logo" src="/assets/qubico/logo.png" alt="logo" />-->
      </a>

    </div>

    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="sr-only">
          <a href="#home" class="scrollto">Home</a>
        </li>
        <li>
          <a href="#features" class="scrollto">Features</a>
        </li>
        <li>
          <a href="#reviews" class="scrollto">Reviews</a>
        </li>
        <li>
          <a href="#tour" class="scrollto">Tour</a>
        </li>
        <li>
          <a href="#chefhollie" class="scrollto">Chef Hollie</a>
        </li>
        <li>
          <a href="#pricing" class="scrollto">Prices</a>
        </li>
        <li>
          <a href="#partners" class="scrollto">Partners</a>
        </li>
        <li>
          <a href="#contact" class="scrollto">Contact</a>
        </li>
        <li>
          <a href="http://www.joyfoodly.com/blog" target="_blank">Blog</a>

        </li>
      </ul>
    </div><!--End navbar-collapse -->

  </div><!--End container -->

</div><!--End main-nav -->

<!-- ==============================================
		HEADER
		=============================================== -->
<header id="home" class="jumbotron">

  <div id="sequence-theme">

    <div id="sequence">

      <ul class="controls">
        <li class="sequence-prev"><i class="fa fa-angle-left fa-fw"></i></li>
        <li class="sequence-next"><i class="fa fa-angle-right fa-fw"></i></li>
      </ul>

      <ul class="sequence-canvas container">
        <li class="animate-in">
          <div class="message-slide1">
            <h2 class="title in-from-left fast">A Kitchen Learning Lab</h2>
            <p class="in-from-bottom fast delay2">Where parents explore and learn how to joyfully get fruits and veggies
              into their families' diets each season. It's easy!</p>
          </div>
          <div class="slide3-img1 in-from-top fast">
            <%= image_tag 'qubico/slider/imac.png', class: 'img-responsive' %>
            <div class="imac-screen">
              <%= image_tag 'qubico/slide-3-imagea.png', class: 'img-responsive' %>
            </div>
          </div>
          <div class="slide3-img2 in-from-top fast delay1">
            <%= image_tag 'qubico/slider/ipad-flat.png', class: 'img-responsive' %>
            <div class="ipad-screen">
              <%= image_tag 'qubico/slide-3-imageb.png', class: 'img-responsive' %>
            </div>
          </div>
          <div class="slide3-img3 in-from-top fast delay2">
            <%= image_tag 'qubico/slider/iphone-flat.png', class: 'img-responsive' %>
            <div class="iphone-screen">
              <%= image_tag 'qubico/slide-3-imagec.png', class: 'img-responsive' %>
            </div>
          </div>



        </li>
        <li>
          <div class="message-slide2">
            <h2 class="title in-from-right fast delay1">Skill Building</h2>
            <p class="in-from-bottom fast delay2">It's not just recipes. Packed with videos, tips, and skill building tutorials, perfect for the busy family.</p>
          </div>
          <div class="slide2-img in-from-top fast">
            <%= image_tag 'qubico/slider/ipad-flat.png', class: 'img-responsive' %>
            <div class="ipad-screen">
              <%= image_tag 'qubico/slide2.png', class: 'img-responsive' %>
            </div>
          </div>
        </li>
        <li>
          <div class="message-slide3">
            <h2 class="title in-from-left fast delay1">A Year of Eating in Season</h2>
            <p class="in-from-left fast delay3">Get 36 recipes every season for a whole year. With photos, videos, and tips!</p>
          </div>



          <div class="slide1-img in-from-right slow delay1">
            <%= image_tag 'qubico/slider/imac.png', class: 'img-responsive' %>
            <div class="imac-screen">
              <%= image_tag 'qubico/slider-1-image.png', class: 'img-responsive' %>
            </div>
          </div>







        </li>
      </ul>

    </div>

  </div>

</header><!--End header -->

<!-- ==============================================
CALL TO ACTION
=============================================== -->
<section class="gray-bg cta">

  <div class="container">

    <div class="row">
      <div class="col-md-8 cta-message">
        <p><strong>The Joyful 12!</strong> is a kitchen learning lab for families. Learn from Chef Hollie and get your family excited about fruits and veggies.</p>
      </div>
      <div class="col-md-4 cta-button">
        <p class="text-center"><a class="btn btn-qubico scrollto" href="#pricing"><i class="fa fa-shopping-cart"></i>Sign Up Now</a></p>
      </div>
    </div><!--End row-->

  </div><!--End container -->

</section><!--End Call to Action -->

<!-- ==============================================
FEATURES
=============================================== -->
<section id="features" class="white-bg padding-top-bottom">

  <div class="container features">

    <h1 class="section-title">Main Features</h1>
    <p class="section-description">The Joyful 12 is an online kitchen learning lab that helps parents learn how to joyfully
      get fruits and veggies into their families' diets. All the tools you need to create a joyful kitchen experience using proven methods from Chef Hollie.</p>

    <div class="row">

      <div class="col-sm-4 scrollimation fade-up">

        <div class="media">
          <div class="icon pull-left">
            <%= image_tag 'qubico/feature-1.png', class: 'feature-icon' %>
            <i class="media-object icon-1 fa fa-html5"></i>
            <i class="media-object icon-2 fa fa-css3"></i>
          </div>

          <div class="media-body">
            <h4>Make Great Food</h4>
            <p>Feel great about the meals you make for your family. 36 recipes every season, for 4 seasons.</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d1">

        <div class="media">
          <div class="icon pull-left">
            <%= image_tag 'qubico/feature-2.png', class: 'feature-icon' %>
            <i class="media-object icon-1 fa fa-mobile"></i>
            <i class="media-object icon-2 fa fa-desktop"></i>
          </div>

          <div class="media-body">
            <h4>Interactive Shopping List</h4>
            <p>Make shopping easy with a shopping list you can email, save, print, or view on your smartphone.</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d2">

        <div class="media">
          <div class="icon pull-left">
            <%= image_tag 'qubico/feature-3.png', class: 'feature-icon' %>
            <i class="media-object icon-1 fa fa-leaf"></i>
            <i class="media-object icon-2 fa fa-pencil"></i>
          </div>

          <div class="media-body">
            <h4>Develop Your Skills</h4>
            <p>With 40+ quick video tutorials, it's never been easier to gain the skills to have fun and make dinner quickly.</p>
          </div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-4 scrollimation fade-up">

        <div class="media">
          <div class="icon pull-left">
            <%= image_tag 'qubico/feature-4.png', class: 'feature-icon' %>
            <i class="media-object icon-1 fa fa-heart-o"></i>
            <i class="media-object icon-2 fa fa-heart"></i>
          </div>

          <div class="media-body">
            <h4>Community Support</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d1">

        <div class="media">
          <div class="icon pull-left">
            <%= image_tag 'qubico/feature-5.png', class: 'feature-icon' %>
            <i class="media-object icon-1 fa fa-cog"></i>
            <i class="media-object icon-2 fa fa-cogs"></i>
          </div>

          <div class="media-body">
            <h4>Get Kids Involved</h4>
            <p>Proven techniques from Chef Hollie for getting your kids excited about eating their veggies. Adults too!</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d2">

        <div class="media">
          <div class="icon pull-left">
            <%= image_tag 'qubico/feature-6.png', class: 'feature-icon' %>
            <i class="media-object icon-1 fa fa-star-o"></i>
            <i class="media-object icon-2 fa fa-star"></i>
          </div>

          <div class="media-body">
            <h4>Learn from the Best</h4>
            <p>All recipes, techniques, and tips for getting kids involved come from Chef Hollie's years of experience.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>



<!-- ==============================================
RESPONSIVE VIDEO
=============================================== -->
<section class="color-bg light-typo padding-top-bottom">

  <div class="container">

    <h1 class="section-title">The Joyful 12 is for people on the go</h1>
    <p class="section-description">You can make great food with some extra support.</p>

    <div class="row">

      <div class="col-sm-10 col-sm-offset-1">

        <div class="macbook-frame">

          <%= image_tag 'qubico/macbook.png', class: 'img-responsive img-center' %>

          <div class="macbook-screen">
            <iframe width="640" height="360" src="//player.vimeo.com/video/88189339?color=4196b4" frameborder="0" allowfullscreen></iframe>
          </div>



        </div>

      </div>

    </div><!-- End row -->

  </div><!-- End container -->

</section>


<!-- ==============================================
CALL TO ACTION
=============================================== -->
<section class="gray-bg cta">

  <div class="container">

    <h1 class="subsection-title-lessmargin">All Recipes Gluten Free</h1>
    <p class="subsection-description-lessmargin">All recipes are tested gluten free, and most are allergen friendly or have special dietary substitutions.</p>

    <div class="process-box scrollimation in">
      <ul class="process-list">
        <li>
          <p class="icon">
            <%= image_tag 'qubico/eggfree.png', class: 'img-responsive img-center' %>
          </p>
        </li>
        <li>
          <p class="icon">
            <%= image_tag 'qubico/nutfree.png', class: 'img-responsive img-center' %>
          </p>
        </li>
        <li>
          <p class="icon">
            <%= image_tag 'qubico/vegetarian.png', class: 'img-responsive img-center' %>
          </p>
        </li>
        <li>
          <p class="icon">
            <%= image_tag 'qubico/dairyfree.png', class: 'img-responsive img-center' %>
          </p>
        </li>
        <li>
          <p class="icon">
            <%= image_tag 'qubico/glutenfree.png', class: 'img-responsive img-center' %>
          </p>
        </li>
      </ul>
      <div class="process-line"></div>
    </div>
    <!--End row-->

  </div><!--End container -->

</section><!--End Call to Action -->


<!-- ==============================================
Reviews
=============================================== -->
<section id="reviews" class="white-bg padding-top-bottom">

  <div class="container">

    <h1 class="section-title">Real Families Are Excited</h1>
    <p class="section-description">Don't just take our word for it.</p>

    <div class="row team-member">

      <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">

        <%= image_tag 'qubico/jean.png', class: 'img-responsive img-center' %>
        <h4>Jean</h4>
        <p class="title">Aunt of 2 in Minneapolis, MN</p>

      </div>

      <div class="col-sm-7 scrollimation fade-left">

        <div class="member-details">
          <p>Our niece and nephew were both asking for more broccoli after this fresh take of Mac 'n Cheese'.</p>


        </div>
      </div>
    </div>

    <div class="row team-member right">

      <div class="col-sm-3 col-sm-push-8 member-thumb scrollimation fade-left">

        <%= image_tag 'qubico/rhonda.png', class: 'img-responsive img-center' %>
        <h4>Rhonda</h4>
        <p class="title">Mother of 3 in Federal Way, Washington</p>

      </div>

      <div class="col-sm-7 col-sm-pull-2 scrollimation fade-right">

        <div class="member-details">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        </div>
      </div>
    </div>

    <div class="row team-member">

      <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">

        <%= image_tag 'qubico/augusta.png', class: 'img-responsive img-center' %>
        <h4>Augusta</h4>
        <p class="title">Mother of 2 in South Carolina</p>

      </div>

      <div class="col-sm-7 scrollimation fade-left">

        <div class="member-details">
          <p>We made the dreamy greenie quesadillas tonight. They were fabulous! Even my son loved them and I
            thought the greens would be a hard sell. They were really filling so I have leftovers for lunch.
            And I love that avocado sauce…I could eat that everyday. We’re having fun trying the Joyful 12
            recipes. The kids are always willing to try something new if I tell them it’s your recipe.</p>

        </div>
      </div>
    </div>



  </div><!--End row -->

  </div>

</section>


<!-- ==============================================
Tour
=============================================== -->
<section id="tour" class="gray-bg padding-top">

  <div class="container">

    <h1 class="section-title">Take a Tour</h1>
    <p class="section-description">Join us for a year of eating in season. Try each veggie three ways, and learn how to get your family involved. Packed with tutorials and tips for the busy parent.</p>

    <div class="ipad-frame scrollimation fade-up">

      <%= image_tag 'qubico/ipad-landscape.png', class: 'img-responsive img-center' %>

      <div class="ipad-screen ipad-slider flexslider">

        <ul class="slides">

          <li>
            <%= image_tag 'qubico/tour-2.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-15.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-3.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-4.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-5.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-6.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-16.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-14.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-13.png', class: 'img-responsive' %>
          </li>
          <li>
            <%= image_tag 'qubico/tour-11.png', class: 'img-responsive' %>
          </li>
        </ul>

      </div>

    </div>

  </div>

</section>

<!-- ==============================================
Life of Joyful 12 User
=============================================== -->

<section class="white-bg padding-top-bottom">

  <div class="container">

    <h1 class="section-title">The Life of a Joyful 12 User</h1>
    <p class="section-description">Here's an example of what a member of the Joyful 12 experiences!</p>

    <div class="timeline">

      <div class="date-title">
        <span>Take the Plunge: Sign Up</span>
      </div>

      <div class="row">

        <div class="col-sm-6 news-item scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Day</small>
              <p>1</p>
            </div>

            <h2 class="news-title">Welcome!</h2>

            <div class="col-sm-4 pull-right news-media gallery">
              <%= image_tag 'qubico/squash.png', class: 'img-responsive' %></a>
            </div>

            <p>Your first week, we'll start off with a big HELLO! We'll get you started with tips on how to use the program,
              support, and get you into the community.</p>

          </div>
        </div>

        <div class="col-sm-6 news-item right scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Day</small>
              <p>3</p>
            </div>

            <h2 class="news-title">Get your first Friday email</h2>
            <div class="col-sm-4 pull-right news-media gallery">
              <%= image_tag 'qubico/tomatillo.png', class: 'img-responsive' %></a>
            </div>
            <p>This is the start of something special. Every Friday, you'll get an email with recipe suggestions that the
              community will be participating in, and helpful tips and reminders to make everything smoother.</p>

          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6 news-item scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Day</small>
              <p>5</p>
            </div>

            <h2 class="news-title">Shop with Ease</h2>

            <p>Use our handy shopping list tool to save recipes and print shopping lists, or just view it on your smartphone while at the store.
              Get everything you need for the week.</p>

          </div>
        </div>

        <div class="col-sm-6 news-item right scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Day</small>
              <p>7</p>
            </div>

            <h2 class="news-title">Make your First Recipe</h2>

            <div class="col-sm-4 pull-right news-media gallery">
              <a class="colorbox" href="<%= image_url 'qubico/recipe-1.jpg'%>"><%= image_tag 'qubico/recipe-1.jpg', class: 'img-responsive' %></a>
              <a class="colorbox" href="<%= image_url 'qubico/recipe-2.jpg'%>"></a>
              <a class="colorbox" href="<%= image_url 'qubico/recipe-3.jpg'%>"></a>
              <a class="colorbox" href="<%= image_url 'qubico/recipe-4.jpg'%>"></a>
              <a class="colorbox" href="<%= image_url 'qubico/recipe-5.jpg'%>"></a>
              <a class="colorbox" href="<%= image_url 'qubico/recipe-6.jpg'%>"></a>
              <a class="colorbox" href="<%= image_url 'qubico/recipe-7.jpg'%>"></a>
              <a class="colorbox" href="<%= image_url 'qubico/recipe-8.jpg'%>"></a>


            </div>

            <p>There's 36 to choose from every season! Follow easy directions and helpful photos for each step of the recipe. Get tips on how to prep food and
              watch technique videos.</p>

            <em>Click to see examples of our Tomatillo Potato Salad</em>

          </div>
        </div>

      </div>

      <div class="date-title">
        <span>The First Few Weeks</span>
      </div>

      <div class="row">

        <div class="col-sm-6 news-item scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Week</small>
              <p>2</p>
            </div>

            <h2 class="news-title">Browse 40+ Technique Videos</h2>

            <div class="col-sm-4 pull-right news-media video">
              <a class="colorbox-video" href="//player.vimeo.com/video/88323584?title=0&amp;byline=0&amp;portrait=0&amp;color=f3cd00">
                <%= image_tag 'qubico/video-technique-player.png', class: 'img-responsive' %></a>
            </div>

            <p>Learn about everything from knife skills to how to prep asparagus in short, fun technique videos. More videos added every season.</p>

          </div>
        </div>

        <div class="col-sm-6 news-item right scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Week</small>
              <p>3</p>
            </div>

            <h2 class="news-title">Try Each Veggie 3 Ways</h2>

            <div class="col-sm-4 pull-right news-media gallery">
              <a class="colorbox" href="<%= image_url 'qubico/tour-3.png'%>"><%= image_tag 'qubico/spinach-1.jpg', class: 'img-responsive' %></a>
              <a class="colorbox" href="<%= image_url 'qubico/tour-4.png'%>"></a>
              <a class="colorbox" href="<%= image_url 'qubico/tour-5.png'%>"></a>


            </div>

            <p>It can take 7 to 11 times of trying a new food before kids will like it. Each fruit and veggie in the classroom has three recipes, so you
              can find the flavors and ingredients that you like the best.</p>
            <em>Click to see all three spinach recipes</em>

          </div>
        </div>

        </div>

        <div class="row">

          <div class="col-sm-6 news-item scrollimation fade-up">

            <div class="news-content">

              <div class="date">
                <small>Week</small>
                <p>5</p>
              </div>

              <h2 class="news-title">Get Your Kids Involved</h2>
              <div class="col-sm-4 pull-right news-media gallery">
                <%= image_tag 'qubico/hollie-3.png', class: 'img-responsive' %></a>


              </div>

              <p>Every recipe has tips for getting kids involved in the recipe. Watch videos with advice and support, and have fun in the kitchen!</p>

            </div>
          </div>

          <div class="col-sm-6 news-item right scrollimation fade-up">

            <div class="news-content">

              <div class="date">
                <small>Week</small>
                <p>7</p>
              </div>

              <h2 class="news-title">Learn from Chef Hollie</h2>

              <div class="col-sm-4 pull-right news-media gallery">
                <%= image_tag 'qubico/hollie-1.png', class: 'img-responsive' %></a>
              </div>

              <p>Not only has Chef Hollie built this entire program based on proven principles (just ask those 2,000 kids she worked with),
              you'll be able to ask her questions directly. She loves helping people become more joyful in the kitchen!</p>

              <p><a class=" scrollto" href="#chefhollie">Learn More About Chef Hollie</a></p>

            </div>
          </div>


      </div>






      <div class="date-title">
        <span>As the Season Passes...</span>
      </div>

      <div class="row">

        <div class="col-sm-6 news-item scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Week</small>
              <p>9</p>
            </div>

            <h2 class="news-title">Talk to the Community</h2>
            <div class="col-sm-4 pull-right news-media gallery">
              <%= image_tag 'qubico/tomato.png', class: 'img-responsive' %></a>
            </div>
            <p>Interact with Chef Hollie and other families in the community forum. Post recipe questions, talk about strategies for feeding your
              family, and share your own kitchen struggles and successes!</p>

          </div>
        </div>

        <div class="col-sm-6 news-item right scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Week</small>
              <p>11</p>
            </div>

            <h2 class="news-title">Build Your Kitchen Skills</h2>
            <div class="col-sm-4 pull-right news-media gallery">
              <%= image_tag 'qubico/strawberry.png', class: 'img-responsive' %></a>
            </div>
            <p>Become a more confident cook by learning culinary skills, understanding substitutions and how to combine different flavors,
            and develop a system for enjoying food in your home.</p>

          </div>
        </div>


      </div>







      <div class="date-title">
        <span>When The Season Ends...</span>
      </div>

      <div class="row">

        <div class="col-sm-6 news-item scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Month</small>
              <p>3</p>
            </div>

            <h2 class="news-title">You Still Have Access</h2>
            <div class="col-sm-4 pull-right news-media gallery">
              <%= image_tag 'qubico/lettuce.png', class: 'img-responsive' %></a>
            </div>
            <p>Didn't get time to try out all the recipes you wanted? No worries! You'll have access to any season you purchased for the lifetime of
            the product. How about that?</p>

          </div>
        </div>

        <div class="col-sm-6 news-item right scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Month</small>
              <p>4</p>
            </div>

            <h2 class="news-title">Seasonal Eating: The Next Season</h2>

            <div class="col-sm-4 pull-right news-media gallery">
              <%= image_tag 'qubico/spinach.png', class: 'img-responsive' %></a>
            </div>

            <p>Eating in season helps you get the most nutrients, eat the best tasting food, and is actually great for your pocketbook! Move on to the
            next season to try 36 new recipes that utilize fruits and veggies that are at their peak.</p>

          </div>
        </div>


      </div>


      <div class="date-title">
        <span>After 12 Months</span>
      </div>

      <div class="row">

        <div class="col-sm-6 news-item scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Month</small>
              <p>12</p>
            </div>

            <h2 class="news-title">144 Recipes Under Your Belt</h2>


            <p>You'll have experience preparing 48 different fruits and veggies, each in 3 different ways. If you didn't get a chance to try
            them all, you still have access to the entire learning lab.</p>

          </div>
        </div>

        <div class="col-sm-6 news-item right scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Month</small>
              <p>12</p>
            </div>

            <h2 class="news-title">Confidence In Feeding Your Family</h2>

            <p>Learning basic culinary skills, kitchen essentials, and strategies for feeding your family will leave you confident in your
            ability to whip up a delicious meal. This helps create a groundwork for a lifetime of healthy eating in your family.</p>

          </div>
        </div>


      </div>

      <div class="row">

        <div class="col-sm-6 news-item scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Month</small>
              <p>12</p>
            </div>

            <h2 class="news-title">The Skills To Be Self-Sufficient</h2>


            <p>Since this is about more than just recipes, your new-found knowledge about flavor combinations, substitutions, and basic cooking
            techniques will help you adapt to whatever ingredients you have on hand.</p>

          </div>
        </div>

        <div class="col-sm-6 news-item right scrollimation fade-up">

          <div class="news-content">

            <div class="date">
              <small>Month</small>
              <p>12</p>
            </div>

            <h2 class="news-title">A Community You Can Rely On</h2>

            <p>Year after year, you'll maintain access to the Joyful 12, at no extra cost. Keep coming back for recipes, tips, and to interact with
            the community.</p>

          </div>
        </div>


      </div>





    </div>

    <p class="text-center"><a class="btn btn-qubico scrollto" href="#pricing">The Journey Lasts a Lifetime. Are You Ready?</a></p>

  </div>

</section>

<!-- ==============================================
Chef Hollie
=============================================== -->
<section id="chefhollie" class="color-bg light-typo padding-top-bottom cta-iphones">

  <div class="container">

    <div class="row">

      <div class="col-sm-4">

        <div class="ipad-frame scrollimation fade-up">

          <%= image_tag 'qubico/hollie-5.png', class: 'img-responsive img-center' %>

          <div class="ipad-screen ipad-slider flexslider">

            <ul class="slides">

              <li>
                <%= image_tag 'qubico/hollie-6.png', class: 'img-responsive' %>
              </li>
              <li>
                <%= image_tag 'qubico/hollie-7.png', class: 'img-responsive' %>
              </li>
              <li>
                <%= image_tag 'qubico/hollie-8.png', class: 'img-responsive' %>
              </li>


            </ul>

          </div>

        </div>

      </div>

      <div class="col-sm-8">

        <h2>Learn From Chef Hollie</h2>
        <p>The Joyful 12 was created by Chef Hollie as a way to support families in eating more fruits and veggies (and help them enjoy the experience!)</p>
        <p>Hollie has worked with over 2,000 children across the country, and knows that kids love eating fruits and vegetables. After attending the French Culinary Institute
          of New York City, Hollie worked with non-profits to develop programs that help get kids excited about vegetables. </p>
        <p>In the Joyful 12, Hollie will walk you through basic principles on introducing children to new foods, tips on how to get kids involved in the kitchen, and all kinds of resources to
        make you a more confident home cook. She believes in flavor and fun above all else in the kitchen, which is what you get with the Joyful 12!</p>

        <a class="btn btn-qubico white scrollto" href="#more-hollie"><i class="fa fa-arrow-down"></i>More About Chef Hollie</a>

      </div>

    </div>

  </div>

</section>



<!-- ==============================================
PRICES
=============================================== -->
<section id="pricing" class="gray-bg padding-top-bottom">

  <div class="container">

    <h1 class="section-title">Sign Up Now</h1>
    <p class="section-description">Join us for a year of eating in season. Sign up once, get access for life.</p>

    <div class="row pricing">

      <div class="col-lg-10 col-lg-offset-1">

        <div class="col-sm-4 text-center scrollimation fade-right">

          <div class="item">

            <p class="icon"><%= image_tag 'qubico/price-1.png' %></p>
            <h2>One Season</h2>
            <p class="price">$12</p>

            <p>1 season of the learning lab</p>
            <p>All supplemental materials</p>
            <p>Support from the community</p>
            <p>Lifetime Access</p>
            <p>$4/month (just $1/vegetable!)</p>

            <a class="btn btn-qubico" href="#link">Sign Up</a>

          </div><!-- End Pricing Item -->

        </div>

        <div class="col-sm-4 text-center scrollimation fade-up">

          <div class="item featured">

            <p class="icon"><%= image_tag 'qubico/price-3.png' %></p>
            <h2>Full Year</h2>
            <p class="price">$40</p>


            <p>Access to the entire lab</p>
            <p>4 seasons of recipes</p>
            <p>All supplemental materials</p>
            <p>Lifetime access</p>
            <p>Save 20% with the full year</p>
            <p>Less than $1/vegetable</p>

            <a class="btn btn-qubico" href="#link">Sign Up</a>

          </div><!-- End Pricing Item -->

        </div>

        <div class="col-sm-4 text-center scrollimation fade-left">

          <div class="item">

            <p class="icon"><%= image_tag 'qubico/price-4.png' %></p>
            <h2>Give a Gift</h2>
            <p class="price">$12 or $40</p>

            <p>Gift a subscription</p>
            <p>Perfect for parents</p>
            <p>One season or a full year</p>
            <p>Lifetime access</p>
            <p>The gift of better home cooking</p>

            <a class="btn btn-qubico" href="#link">Give Now</a>

          </div><!-- End Pricing Item -->

        </div>

      </div>

    </div><!-- End row -->

  </div><!-- End container -->

</section>


<!-- ==============================================
CALL TO ACTION
=============================================== -->
<section class="color-bg light-typo cta">

  <div class="container">

    <div class="row">
      <div class="col-md-9 cta-message">
        <p><strong>The Joyful 12</strong> is a year of eating in season with Chef Hollie. Busy families get access to 144 recipes, video tutorials,
        a community forum, parent resources, and more! Buy once and become a member for life.</p>
      </div>
      <div class="col-md-3 cta-button">
        <p class="text-center"><a class="btn btn-qubico white scrollto" href="#pricing"><i class="fa fa-shopping-cart"></i>Purchase Now</a></p>
      </div>
    </div><!--End row-->

  </div><!--End container -->

</section><!--End Call to Action -->

<!-- ==============================================
PARTNERS
=============================================== -->

<section id="partners" class="white-bg padding-top-bottom">

  <div class="container">

    <div class="row">

      <div class="col-sm-4 col-sm-offset-1">

        <span class="logo-small scrollimation fade-right"><%= image_tag 'qubico/whole-foods.png' %></span>

      </div>

      <div class="col-sm-7 ">

        <h2>Partnering with Whole Foods</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in varius erat.</p>
        <p>Nam id felis eu felis consequat adipiscing. Suspendisse sit amet faucibus nunc, dignissim vehicula enim. Vestibulum luctus turpis sit amet varius venenatis.</p>

        <a class="btn btn-qubico white scrollto" href="#services"><i class="fa fa-arrow-down"></i>See the magic</a>

      </div>

    </div>

  </div>

</section>






<!-- ==============================================
Chef Hollie
=============================================== -->
<section id="more-hollie" class="color-bg light-typo padding-top-bottom cta-iphones">

  <div class="container">

    <div class="row">

      <div class="col-sm-4">

        <div class="ipad-frame scrollimation fade-up">

          <%= image_tag 'qubico/hollie-box.png', class: 'img-responsive img-center' %>

          <div class="ipad-screen ipad-slider flexslider">

            <ul class="slides">

              <li>
                <%= image_tag 'qubico/hollie-1.png', class: 'img-responsive' %>
              </li>

            </ul>

          </div>

        </div>

      </div>

      <div class="col-sm-7 col-sm-offset-1">

        <h2>More About Chef Hollie</h2>
        <p>Chef Hollie has worked with over 2,000 children across the country, and knows that kids love eating fruits and vegetables.</p>
        <p>After attending the French Culinary Institute of New York City, Hollie worked with non-profit programs partnering with Rachael Ray's Yum-O!, Mayor Bloomberg, and Mary J. Blige.
          She is a professional expert for the California's Healthy CA Kids Initiative and has worked as an Education Director for the Sylvia Center and Chef in Residence in NYC Schools
        through Wellness in the Schools to improve school food. </p>

      </div>

    </div>

  </div>

</section>









<!-- ==============================================
CONTACT
=============================================== -->
<section id="contact" class="gray-bg padding-top-bottom">

  <div class="container">

    <h1 class="section-title">We'd Love to Hear from You!</h1>
    <p class="contact-description">Do you have questions or feedback? Let us know!</p>
    <div class="col-sm-offset-5">
      <span class="logo-small"><a href="<%= image_url 'http://www.facebook.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/facebook.png' %></a></span>
      <span class="logo-small"><a href="<%= image_url 'http://www.twitter.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/twitter.png' %></a></span>
      <span class="logo-small"><a href="<%= image_url 'https://plus.google.com/+Joyfoodly'%>" target="_blank"><%= image_tag 'qubico/google.png' %></a></span>
      <span class="logo-small"><a href="<%= image_url 'http://www.pinterest.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/pinterest.png' %></a></span>
      <span class="logo-small"><a href="<%= image_url 'http://www.instagram.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/instagram.png' %></a></span>
      <span class="logo-small"><a href="<%= image_url 'http://www.vimeo.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/vimeo.png' %></a></span>
    </div>


    <div class="row">

      <div class="col-sm-4 col-sm-offset-2 text-center contact-item scrollimation fade-right">

        <a class="icon" href="http://goo.gl/maps/0m7WQ" target="_blank"><i class="glyphicon glyphicon-pushpin"></i></a>
        <h2>Our Location</h2>
        <p>San Francisco, CA</p>

      </div>



      <div class="col-sm-4 text-center contact-item scrollimation fade-left">

        <a class="icon" href="#link"><i class="glyphicon glyphicon-envelope"></i></a>
        <h2>Email Us</h2>
        <p>hollie@joyfoodly.com</p>

      </div>

    </div>

    <div class="row">

      <!--=== Contact Form ===-->

      <form id="contact-form" class="col-sm-6 col-sm-offset-3" action="contact.php" method="post" novalidate>

        <div class="form-group">
          <label class="control-label" for="contact-name">Name</label>
          <div class="controls">
            <input id="contact-name" name="contactName" placeholder="Your name" class="form-control requiredField label_better" type="text" data-error-empty="Please enter your name">
            <i class="fa fa-user"></i>
          </div>
        </div><!-- End name input -->

        <div class="form-group">
          <label class="control-label" for="contact-mail">Email</label>
          <div class=" controls">
            <input id="contact-mail" name="email" placeholder="Your email" class="form-control requiredField label_better" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
            <i class="fa fa-envelope"></i>
          </div>
        </div><!-- End email input -->

        <div class="form-group">
          <label class="control-label" for="contact-message">Message</label>
          <div class="controls">
            <textarea id="contact-message" name="comments"  placeholder="Your message" class="form-control requiredField label_better" rows="6" data-error-empty="Please enter your message"></textarea>
            <i class="fa fa-comment"></i>
          </div>
        </div><!-- End textarea -->

        <p><button name="submit" type="submit" class="btn btn-qubico btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-location-arrow"></i>Send Message</button></p>
        <input type="hidden" name="submitted" id="submitted" value="true" />

      </form><!-- End contact-form -->

    </div>

  </div>

</section>



<!-- ==============================================
FOOTER
=============================================== -->
<footer id="main-footer" class="color-bg light-typo">

  <div class="container text-center">
    <ul class="social-links">



      <li class="logo-small"><a href="<%= image_url 'http://www.facebook.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/facebook-white.png' %></a></li>
      <li class="logo-small"><a href="<%= image_url 'http://www.twitter.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/twitter-white.png' %></a></li>
      <li class="logo-small"><a href="<%= image_url 'https://plus.google.com/+Joyfoodly'%>" target="_blank"><%= image_tag 'qubico/google-white.png' %></a></li>
      <li class="logo-small"><a href="<%= image_url 'http://www.pinterest.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/pinterest-white.png' %></a></li>
      <li class="logo-small"><a href="<%= image_url 'http://www.instagram.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/instagram-white.png' %></a></li>
      <li class="logo-small"><a href="<%= image_url 'http://www.vimeo.com/joyfoodly'%>" target="_blank"><%= image_tag 'qubico/vimeo-white.png' %></a></li>


    </ul>
    <p>&copy;2014 <a href="http://www.joyfoodly.com" target="_blank">JoyFoodly</a>, LLC.</p>
    <em>     </em>

  </div>

</footer>
