<div class="page-header">
  <h1>Parent Resources <small>Extra resources for the program</small></h1>
</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Fun Printables for the Family</h2>
</div>

<div class="row">

  <%
    downloadables = [
      {
        title: 'Recommended Schedule for Spring',
        page: '/class_schedule',
        image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/932880af9934210ad9bf8cc9bc0f17536cbe57be.png?1393723535',
        download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/b23ef89be6f1d1b389144ad90ba4909b3f4bbf12.pdf?1393721241',
        description: 'View and print the recommended schedule for the spring Joyful 12!',
      },
      {
              title: "JoyFoodly's Four Principles",
              page: nil,
              image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/54eb8d1aa6d03f04c62f3b4bc7875f810e1fe871.png?1393723509',
              download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/3f7937c5b70b2e5de3f127ba1090b318899903d0.pdf?1393721458',
              description: "Use these tips as a guide for how to get your children excited about new food",
      },
      {
        title: 'Gluten Free Pantry Essentials',
        page: nil,
        image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/5ca5b4c472b81c37178ec1aff07401e410c67524.png?1393723558',
        download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/8230a3a98b1265a935462b1c229cf8dc71b32efa.pdf?1393721466',
        description: "Not sure how to build up a convenient kitchen? Use this document as a guide to stocking your
                      pantry, and you'll be ready for dinner any day of the week!",
      },
      {
        title: 'Joyful 12 Spring Bingo',
        page: nil,
        image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/77bd77cda6d91525ead96bf08303dd1e85cf4ae6.png?1393723511',
        download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/bc277042d72e8dd728ef29b95daf856e09b354e0.pdf?1393721434',
        description: "Use these bingo boards to keep track of your progress and have some fun!",
      },
      {
        title: 'Joyful 12 Coloring Pages',
        page: nil,
        image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/161194fcf5d1d4d475dc7745d217a85743f81461.png?1393723560',
        download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/fa3a5753684e285a21adf515f0b0b5670451958d.pdf?1393722028?1393721458',
        description: "Use a rainbow of colors and learn some fun facts about fruits and veggies!",
      },
    ]
  %>

  <% downloadables.each do |downloadable| %>
    <div class="col-sm-6 col-md-4 col-equal-height">
      <div class="panel panel-default">
        <div class="panel-body">
          <a  class="thumbnail thumbnail-border-sharp " href="<%= downloadable[:download_link] %>">
            <img src="<%= downloadable[:image] %>" class='img-responsive'>
          </a>
          <div class="caption">
            <h3><%= downloadable[:title] %></h3>
            <p><%= downloadable[:description] %></p>
            <p>
              <a href="<%= downloadable[:download_link] %>" class="btn btn-primary" role="button">printable</a>
              <% if downloadable[:page] %>
                <a href="<%= downloadable[:page] %>" class="btn btn-default" role="button">online version</a>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Video Resources</h2>
</div>

<div class="row bg-grey top-padding">
  <div class="col-sm-12">
    <% @video_links.each do |video_link| %>
      <div class="col-md-4 bottom-buffer">
        <div class="thumbnail">
          <%= content_tag(:iframe, '', width: '100%', height: 192, frameborder: 0, webkitallowfullscreen: true,
                          mozallowfullscreen: true, allowfullscreen: true,
                          src: "///player.vimeo.com/video/#{video_link.provider_id}?title=0&amp;byline=0&amp;portrait=0") %>
          <div class="caption-video">
            <h4 class="no-buffer"><%= video_link.name %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Quick Links</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <a href="/" class="btn btn-primary btn-lg btn-block">View the shopping list</a>
  </div>
  <div class="col-md-4">
    <a href="/users/me/edit" class="btn btn-default btn-lg btn-block">View your profile</a>
  </div>
  <div class="col-md-4">
    <a href="/foods" class="btn btn-warning btn-lg btn-block">Go back to the classroom</a>
  </div>
</div>
<div class="spacer"></div>


<div class="page-sub-header text-center">
  <h2 class="dotted">Re-watch the orientation video</h2>
</div>
<div class='row'>
  <div class='col-md-12'>
    <iframe class="centered" src="//player.vimeo.com/video/88203681?portrait=0&amp;color=4196b4" width="998" height="561" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div class="page-sub-header text-center">
  <h2 class="dotted">Orientation Resources</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="/pages/orientation" class="btn btn-primary btn-lg btn-block">Go Back to Orientation</a>
  </div>
  <div class="col-md-4">
    <a href="/pages/orientation-text" class="btn btn-default btn-lg btn-block">Written Orientation</a>
  </div>
  <div class="col-md-4">
    <a href="/pages/faqs" class="btn btn-warning btn-lg btn-block">Joyful 12 FAQs</a>
  </div>
</div>
<div class="spacer"></div>

