<div class="page-header">
  <h1>Parent Resources <small>Extra resources for the program</small></h1>
</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Fun Printables for the Family</h2>
</div>

<div class="row">

  <%
    downloadables = [
      {
        title: 'Recommended Schedule for Spring',
        page: '/class_schedule',
        image: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/spring-schedule-joyful12.png',
        download_link: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Joyful12-Spring-Schedule.pdf',
        description: 'View and print the recommended schedule for the spring Joyful 12!',
      },
      {
        title: 'Gluten Free Pantry Essentials',
        page: nil,
        image: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/pantry-essentials.png',
        download_link: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Pantry-Essentials-final.pdf',
        description: "Not sure how to build up a convenient kitchen? Use this document as a guide to stocking your
                      pantry, and you'll be ready for dinner any day of the week!",
      },
      {
        title: 'Joyful 12 Spring Bingo',
        page: nil,
        image: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/spring-bingo.png',
        download_link: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Joyful12-Spring-bingo.pdf',
        description: "Use these bingo boards to keep track of your progress and have some fun!",
      },
      {
        title: 'Joyful 12 Coloring Pages',
        page: nil,
        image: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/coloring-pages-joyful12.png',
        download_link: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/coloring-pages.pdf',
        description: "Use a rainbow of colors and learn some fun facts about fruits and veggies!",
      },
    ]
  %>

  <% downloadables.each do |downloadable| %>
    <div class="col-sm-6 col-md-4 col-equal-height">
      <div class="panel panel-default">
        <div class="panel-body">
          <a  class="thumbnail thumbnail-border-sharp " href="<%= downloadable[:download_link] %>">
            <img src="<%= downloadable[:image] %>" class='img-responsive'>
          </a>
          <div class="caption">
            <h3><%= downloadable[:title] %></h3>
            <p><%= downloadable[:description] %></p>
            <p>
              <a href="<%= downloadable[:download_link] %>" class="btn btn-primary" role="button">printable</a>
              <% if downloadable[:page] %>
                <a href="<%= downloadable[:page] %>" class="btn btn-default" role="button">online version</a>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Video Resources</h2>
</div>

<div class="row bg-grey top-padding">
  <div class="col-sm-12">
    <% @video_links.each do |video_link| %>
      <div class="col-md-4 bottom-buffer">
        <div class="thumbnail">
          <%= content_tag(:iframe, '', width: '100%', height: 250, frameborder: 0, webkitallowfullscreen: true,
                          mozallowfullscreen: true, allowfullscreen: true,
                          src: "///player.vimeo.com/video/#{video_link.provider_id}?title=0&amp;byline=0&amp;portrait=0") %>
          <div class="caption">
            <h3><%= video_link.name %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Quick Links</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <a href="/" class="btn btn-primary btn-lg btn-block">View the shopping list</a>
  </div>
  <div class="col-md-4">
    <a href="/users/me/edit" class="btn btn-default btn-lg btn-block">View your profile</a>
  </div>
  <div class="col-md-4">
    <a href="/foods" class="btn btn-warning btn-lg btn-block">Go back to the classroom</a>
  </div>
</div>
<div class="spacer"></div>
