<div class="page-header">
  <h1>Parent Resources <small class='hidden-xs'>Extra resources for the program</small></h1>
</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Fun Printables for the Family</h2>
</div>

<div class="row">

  <%
    downloadables = [
    {
        title: 'Recommended Fall Schedule',
        page: nil,
        image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/57ab4951e244aa03160d1e7dace4bc30a0a87ae4.png?1411835528',
        download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/28bbff2f95908a247f9f0624b91b9e575bb9ff1e.pdf?1412352433',
        description: 'View and print the recommended schedule for the fall season of Joyful 12!',
},
      {
              title: "JoyFoodly's Four Principles",
              page: nil,
              image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/54eb8d1aa6d03f04c62f3b4bc7875f810e1fe871.png?1393723509',
              download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/3f7937c5b70b2e5de3f127ba1090b318899903d0.pdf?1393721458',
              description: "Use these tips as a guide for how to get your children excited about new food",
      },
      {
        title: 'Joyful 12 Spring Bingo',
        page: nil,
        image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/77bd77cda6d91525ead96bf08303dd1e85cf4ae6.png?1393723511',
        download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/bc277042d72e8dd728ef29b95daf856e09b354e0.pdf?1393721434',
        description: "Use these bingo boards to keep track of your progress and have some fun!",
      },
      {
              title: 'Joyful 12 Summer Bingo',
              page: nil,
              image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/33160014b17264b1de0cfe7a46e7aeab87a0d859.png?1403726534',
              download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/cf28313d878e1385ae1b1e8200e4fcffbd149938.pdf?1403726362',
              description: "Use these bingo boards to keep track of your progress and have some fun!",
      },
      {
        title: 'Joyful 12 Coloring Pages',
        page: nil,
        image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/161194fcf5d1d4d475dc7745d217a85743f81461.png?1393723560',
        download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/fa3a5753684e285a21adf515f0b0b5670451958d.pdf?1393722028?1393721458',
        description: "Use a rainbow of colors and learn some fun facts about fruits and veggies!",
      },
      {
              title: 'Dips & Sauces',
              page: nil,
              image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/9121ed92b677623c42505134c3553172961906a5.png?1403726604',
              download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/bba8e715a688454443a8b8655643823dc4fefb98.pdf?1402274880',
              description: "Dips and Sauces that help kids love veggies!",
      },
      {
              title: 'Gluten Free Pantry Essentials',
              page: nil,
              image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/5ca5b4c472b81c37178ec1aff07401e410c67524.png?1393723558',
              download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/8230a3a98b1265a935462b1c229cf8dc71b32efa.pdf?1393721466',
              description: "Not sure how to build up a convenient kitchen? Use this document as a guide to stocking your
                      pantry, and you'll be ready for dinner any day of the week!",
      },
      {
              title: 'Supermarket Scavenger Hunt',
              page: nil,
              image: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/6424cf3ec8f64f4c58d41465ae393554275071d8.png?1394110239',
              download_link: 'http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/ba40e384b5f4390c2fb8c78db09c25ec9c4550cc.pdf?1394154123',
              description: "Let's explore the veggie and fruit section of the supermarket!",
      },
    ]
  %>

  <% downloadables.each do |downloadable| %>
    <div class="col-sm-6 col-md-4 col-equal-height">
      <div class="panel panel-default">
        <div class="panel-body">
          <a  class="thumbnail thumbnail-border-sharp " href="<%= downloadable[:download_link] %>">
            <img src="<%= downloadable[:image] %>" class='img-responsive'>
          </a>
          <div class="caption">
            <h3><%= downloadable[:title] %></h3>
            <p><%= downloadable[:description] %></p>
            <p>
              <a href="<%= downloadable[:download_link] %>" class="btn btn-primary" role="button">printable</a>
              <% if downloadable[:page] %>
                <a href="<%= downloadable[:page] %>" class="btn btn-default" role="button">online version</a>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="page-sub-header text-center">
  <h2 id="sauces" class="dotted">Dips & Sauces Corner</h2>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%= image_tag 'parent-resources/sauce1.png', class: 'img-responsive' %>
          Lemon Dill Yogurt Sauce
        </a>
      </p>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 7 oz plain (greek style) yogurt,
          1 clove garlic,
          1 small cucumber,
          1 lemon,
          4 TBS dill,
          3 TBS olive oil,
          1 tsp salt
        </p>
        <p><strong>Directions:</strong> Put all ingredients for this sauce into a blender or your cuisinart and pulse until chunky.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <%= image_tag 'parent-resources/sauce2.png', class: 'img-responsive' %>
          Easy Ranch Dip
        </a>
      </p>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 1 cup full fat organic yogurt,
          2 tsp apple cider vinegar
          2 TBS olive oil
          4 tsp dried parsley
          4 tsp granulated onion spice (salt free)
          1 tsp black pepper
          ½ tsp salt
        </p>
        <p><strong>Directions:</strong> Place all ingredients in a mason jar and shake together or mix together in a bowl.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <%= image_tag 'parent-resources/sauce3.png', class: 'img-responsive' %>
          Garlic Lemon Aioli
        </a>
      </p>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 1 cup of mayonnaise,
          4-5 cloves garlic,
          2 TBS lemon juice,
          2 tsp salt,
          1 tsp black pepper
        </p>
        <p><strong>Directions:</strong> Mix all ingredients in a bowl. If you have a garlic press, press the garlic. If
          you don't, mince garlic finely. </p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          <%= image_tag 'parent-resources/sauce4.png', class: 'img-responsive' %>
          Cumin Lime Yogurt Sauce
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 1 cup plain yogurt,
          3 TBS olive oil,
          1 lime (zest and juice),
          1 tsp salt,
          2 tsp cumin
        </p>
        <p><strong>Directions:</strong> Mix all ingredients in a bowl.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          <%= image_tag 'parent-resources/sauce5.png', class: 'img-responsive' %>
          Honey Mustard Dressing
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 1 cup plain yogurt,
          4 TBS honey,
          3 TBS smooth Dijon mustard,
          2 TBS rice wine vinegar,
          Juice of ½ lemon
        </p>
        <p><strong>Directions:</strong> Place all ingredients into a mason jar and shake, or use a whisk and combine in a bowl.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          <%= image_tag 'parent-resources/sauce6.png', class: 'img-responsive' %>
          Sweet Champagne Vinaigrette
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 3 TBS champagne vinegar,
          3 TBS honey,
          2 tsp dijon mustard,
          ½ tsp poppy seeds,
          1 tsp salt,
          1/2 cup vegetable oil
        </p>
        <p><strong>Directions:</strong> Place all ingredients into a mason jar and shake until combined, or use a whisk and combine in a bowl.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          <%= image_tag 'parent-resources/sauce7.png', class: 'img-responsive' %>
          Sweet Lime Yogurt Dipping Sauce
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 1 cup plain full fat yogurt,
          2 TBS honey,
          1/2 lime,
          zest from half a lime
        </p>
        <p><strong>Directions:</strong> Mix all ingredients in a bowl</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseeight">
          <%= image_tag 'parent-resources/sauce8.png', class: 'img-responsive' %>
          Creamy Avocado Sauce
        </a>
      </h4>
    </div>
    <div id="collapseeight" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 1 avocado,
          2 TBS plain yogurt,
          1 tsp salt,
          1/2 lemon,
          1 small bunch (approx. 1/2 cup) cilantro,
          1 TBS olive oil
        </p>
        <p><strong>Directions:</strong> Blend ingredients altogether in a blender until smooth.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsenine">
          <%= image_tag 'parent-resources/sauce9.png', class: 'img-responsive' %>
          Spinach Basil Pesto
        </a>
      </h4>
    </div>
    <div id="collapsenine" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> ⅓ cup grated Parmesan cheese,
          ⅓ cup walnuts,
          2 cups baby spinach,
          2 cups fresh basil,
          1 tsp salt,
          ⅔ cup olive oil
        </p>
        <p><strong>Directions:</strong> First grind cheese and walnuts together in a food processor.
          Add basil and spinach gradually, with olive oil, to combine.
          Add salt, blend and check for overall seasoning.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseten">
          <%= image_tag 'parent-resources/sauce10.png', class: 'img-responsive' %>
          Savory Red Radish Cream Cheese Dip
        </a>
      </h4>
    </div>
    <div id="collapseten" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 5 red radishes,
          1 8 oz block cream cheese,
          1 tsp dried parsley,
          1 tsp dried onion,
          1/4 tsp salt,
          1/4 tsp black pepper
        </p>
        <p><strong>Directions:</strong> Wash and cut the radishes into quarters. Bring cream cheese to room temperature.
          Blend the 5 radishes that go into the dip in the food processor until finely grated. Add all other ingredients and cream
        cheese. Blend until smooth.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseeleven">
          <%= image_tag 'parent-resources/sauce11.png', class: 'img-responsive' %>
          Sweet Strawberry and Radish Cream Cheese Dip
        </a>
      </h4>
    </div>
    <div id="collapseeleven" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> 5 fresh strawberries,
          1 8oz block cream cheese,
          5 red radishes,
          1/2 TBS honey
        </p>
        <p><strong>Directions:</strong> Wash and cut the radishes into quarters. Bring cream cheese to room temperature.
          Blend the 5 radishes that go into the dip in the food processor until finely grated. Add all other ingredients and cream
          cheese. Blend until smooth.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4 col-equal-height sauces">
    <div class="panel-heading sauces-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsetwelve">
          <%= image_tag 'parent-resources/sauce12.png', class: 'img-responsive' %>
          Sriracha Mayo Dipping Sauce
        </a>
      </h4>
    </div>
    <div id="collapsetwelve" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Ingredients:</strong> ⅓ cup mayonnaise,
          2 tsp tamari (gluten free soy sauce),
          ½ tsp sriracha
        </p>
        <p><strong>Directions:</strong> Mix all ingredients in a bowl.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Printable Dips & Sauces', "http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/bba8e715a688454443a8b8655643823dc4fefb98.pdf", class: 'btn btn-warning btn-lg btn-block', target: "_blank" %>
  </div>
</div>
<div class="spacer"></div>

<div class="spacer"></div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Orientation Resources</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <%= link_to 'Go Back to Orientation', page_path('orientation'), class: 'btn btn-primary btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to 'Written Orientation', page_path('orientation-text'), class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to 'Joyful 12 FAQs', page_path('faqs'), class: 'btn btn-warning btn-lg btn-block' %>
  </div>
</div>
<div class="spacer"></div>
