<div class="page-header">
  <h1>Parent Resources <small>Extra resources for the program</small></h1>
</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Fun Printables for the Family</h2>
</div>

<div class="row">

  <%
    downloadables = [
      {
        title: 'Recommended Schedule for Spring',
        page: '/class_schedule',
        image: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/spring-schedule-joyful12.png',
        download_link: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Joyful12-Spring-Schedule.pdf',
        description: 'View and print the recommended schedule for the spring Joyful 12!',
      },
      {
        title: 'Gluten Free Pantry Essentials',
        page: nil,
        image: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/pantry-essentials.png',
        download_link: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Pantry-Essentials-final.pdf',
        description: "Not sure how to build up a convenient kitchen? Use this document as a guide to stocking your
                      pantry, and you'll be ready for dinner any day of the week!",
      },
      {
        title: 'Joyful 12 Spring Bingo',
        page: nil,
        image: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/spring-bingo.png',
        download_link: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Joyful12-Spring-bingo.pdf',
        description: "Use these bingo boards to keep track of your progress and have some fun!",
      },
      {
        title: 'Joyful 12 Coloring Pages',
        page: nil,
        image: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/coloring-pages-joyful12.png',
        download_link: 'https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/coloring-pages.pdf',
        description: "Use a rainbow of colors and learn some fun facts about fruits and veggies!",
      },
    ]
  %>

  <% downloadables.each do |downloadable| %>
    <div class="col-sm-6 col-md-4 col-equal-height">
      <div class="panel panel-default">
        <div class="panel-body">
          <a  class="thumbnail thumbnail-border-sharp " href="<%= downloadable[:download_link] %>">
            <img src="<%= downloadable[:image] %>" class='img-responsive'>
          </a>
          <div class="caption">
            <h3><%= downloadable[:title] %></h3>
            <p><%= downloadable[:description] %></p>
            <p>
              <a href="<%= downloadable[:download_link] %>" class="btn btn-primary" role="button">printable</a>
              <% if downloadable[:page] %>
                <a href="<%= downloadable[:page] %>" class="btn btn-default" role="button">online version</a>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Video Resources</h2>
</div>

<div class="row bg-grey top-padding">
  <div class="col-sm-12">
    <% @video_links.each do |video_link| %>
      <div class="col-md-4 bottom-buffer">
        <div class="thumbnail">
          <%= content_tag(:iframe, '', width: '100%', height: 202, frameborder: 0, webkitallowfullscreen: true,
                          mozallowfullscreen: true, allowfullscreen: true,
                          src: "///player.vimeo.com/video/#{video_link.provider_id}?title=0&amp;byline=0&amp;portrait=0") %>
          <div class="caption">
            <h3><%= video_link.name %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="page-sub-header text-center">
  <h2 class="dotted">Quick Links</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <a href="/" class="btn btn-primary btn-lg btn-block">View the shopping list</a>
  </div>
  <div class="col-md-4">
    <a href="/users/me/edit" class="btn btn-default btn-lg btn-block">View your profile</a>
  </div>
  <div class="col-md-4">
    <a href="/foods" class="btn btn-warning btn-lg btn-block">Go back to the classroom</a>
  </div>
</div>
<div class="spacer"></div>


<div class="page-sub-header text-center">
  <h2 class="dotted">Re-watch the orientation video</h2>
</div>
<div class='row'>
  <div class='col-md-12'>
    <iframe class="centered" width="998" height="749" src="//www.youtube.com/embed/--9dU-MdmC4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="page-sub-header text-center">
  <h2 class="dotted">Orientation Resources</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="/pages/orientation" class="btn btn-primary btn-lg btn-block">Go Back to Orientation</a>
  </div>
  <div class="col-md-4">
    <a href="/pages/orientation-text" class="btn btn-default btn-lg btn-block">Written Orientation</a>
  </div>
  <div class="col-md-4">
    <a href="/pages/faqs" class="btn btn-warning btn-lg btn-block">Joyful 12 FAQs</a>
  </div>
</div>
<div class="spacer"></div>





<div class="panel panel-default">
<table class="table table-striped">
  <tbody>
  <tr>
    <th>Buy</th>
    <td></td>
  </tr>
  <tr>
    <th>Store</th>
    <td></td>
  </tr>
  </tbody>
</table>
</div>


<div class="panel panel-default">
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Yum it up (actions and vocabulary)</th>
      <td></td>
    </tr>
    <tr>
      <th>Be a Food Explorer</th>
      <td></td>
    </tr>
    <tr>
      <th>Taste More, Talk Less</th>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-default">
  <table class="table">
    <tbody>
    <tr>
      <th class="text-center">Dietary Substitutions <br /><em>to make this...</em></th>
    </tr>
    <tr>
      <td>Vegan: </td>
    </tr>
    <tr>
      <td>Dairy Free: </td>
    </tr>
    </tbody>
  </table>
</div>





<div class="page-header">
  <h1>Joyful 12! FAQs</h1>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          What is the Joyful 12?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>The Joyful 12™ is Chef Hollie Greene’s online crash course developed to help your family get more fruits and
        vegetables into your diet each month of the year, from savory winter squash, to spring artichokes, to summer okra,
        and sweet fall apples.</p>
        <p>Visit www.joyfoodly.com to learn more about the Joyful 12 features.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Who is the Joyful 12 for?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>The Joyful 12 is for any family that would like support in getting more fruits and vegetables into their family’s
        diet each season.</p>
        <p><strong><a href="/pages/orientation">Watch this video to learn more about how to use the course.</a></strong></p>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Is the Joyful 12 for parents or for children?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We have designed the Joyful 12 for parents, guardians, or any family member who is raising a family that would
        like to excite and teach their children to enjoy eating fruits and vegetables as part of a joyful, balanced
        lifestyle.</p>
        <p>We also know that adult siblings, aunts, uncles, godparents, babysitters, and other friends and family do help
        with feeding and setting a great example for kids around eating fruits and vegetables. Our recipes are designed
        with children and adults in mind. This is not kid food as you know it today! It’s so much more.</p>
        <p><strong><a href="/pages/orientation">Watch this video to learn more about how to use the course.</a></strong></p>
      </div>
    </div>
  </div>

  </div>






  <div class="panel-group" id="accordion">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Is it only for families or can I join too?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Yes! We welcome ALL vegetable enthusiasts who would like to get more fruits and veggies in their diets every
          season! All of our recipes are created for adults and kids. I don’t believe in kid food!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Is this a meal planning service?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>The Joyful 12 is not a meal planning service nor another recipe site. The Joyful 12 is a course designed to
          teach you everything you’d want to know about how to buy, store, prep, and cook each fruit or vegetable three
          different ways. As a part of our class, we do provide a suggested weekly schedule as well as shopping lists
          and other tools to make getting these vegetables and fruits into your diet fun and manageable.
        </p>
        <p>We believe if you learn cooking techniques through some basic recipes, you will build stronger cooking skills
          and confidence to continue cooking and eating these fruits and vegetables for years to come, the way your family
          enjoys best!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Is this only for vegetarians?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>No! Regardless of whether you are a carnivore, vegan, follow a paleo diet, or must eat gluten free, like me,
          the Joyful 12 is for everyone. We want to help families get more fruits and vegetables in their diet in
          addition to all other foods they normally consume.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Is the Joyful 12 designed for families with food allergies?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Yes! For every recipe, we let you know if it is dairy free, nut free, egg free, vegan, and we let you know
          that all our recipes are tested gluten free. When possible, we provide examples of substitutes to make the
          recipe fit your family’s needs. </p>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Help! How do I get my child to try vegetables?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>You have come to the right place! The Joyful 12 course will help you expose your kids to fruits and veggies,
          and take the fear out of trying new things. To start with, my four principles will give you the tools to
          expose your kids to more fruits and veggies and discover how much fun it can be to try new foods. Watch this
          video to learn more about how to use the program.</p>
        <p><strong><a href="/pages/orientation">Watch this video to learn more about how to use the course.</a></strong></p>
        <p>The <strong><a href="/parent-resources">parent resources page</a></strong> is another great place to get inspiration and support. It’s packed with every video
          in the program, as well as easy links to your shopping list and the recommended schedule. We have a fun game
          to download, which can help motivate your family, and coloring pages for any younger veggie lovers! There is
          also helpful information that you can view online or print to hang on your fridge, including a great list of
          pantry essentials that will help you build a convenient and useful kitchen. </p>
      </div>
    </div>
  </div>



</div>