<div class='row'>
  <div class='col-md-2'>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
  </div>

  <div class='col-md-2'>
    <div class="form-group">
      <%= f.label :birthday, 'Birthday (optional)' %>
      <%= f.date_field :birthday, class: 'form-control' %>
    </div>
  </div>
  <button type="button" class="tooltip btn btn-default" data-container="body" data-toggle="tooltip" data-placement="top"
          data-content="command+click to select multiple options">
    ?
  </button>
  <div class='col-md-2'>
    <div class="form-group">
      <%= f.label :allergy_ids, 'Allergies/Conditions' do %>
          Allergies
          <span class='help-tooltip help-tooltip-right' data-toggle="tooltip"
                title="Select multiple (Mac: cmd click, Windows: ctrl click)">?</span>
      <% end %>
      <%= f.collection_select :allergy_ids, Allergy.all, :id, :name, {}, class: 'form-control', multiple: true %>
    </div>
  </div>
  <div class='col-md-3'>
    <div class="form-group">
      <%= f.label :other_allergies %>
      <%= f.text_field :other_allergies, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-1">
    <%= label_tag '' %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "js-remove-fields btn btn-default" %>
  </div>
</div>


