<div class='row'>
  <div class='col-md-2'>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
  </div>
  <div class='col-md-2'>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>
  <div class='col-md-2'>
    <div class="form-group">
      <%= f.label :birthday, 'Birthday (optional)' %>
      <%= f.date_field :birthday, class: 'form-control' %>
    </div>
  </div>
  <div class='col-md-2'>
    <div class="form-group">
      <%= f.label :allergy_ids, 'Allergies / Conditions' %>
      <%= f.collection_select :allergy_ids, Allergy.all, :id, :name, {}, class: 'form-control', multiple: true %>
    </div>
  </div>
  <div class='col-md-3'>
    <div class="form-group">
      <%= f.label :other_allergies %>
      <%= f.text_field :other_allergies, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-1">
    <%= label_tag 'Remove' %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "js-remove-fields btn btn-default" %>
  </div>
</div>
