<div class="bg-grey general-padding">
  <div class="row">
    <div class='col-md-8'>
      <h3 class="no-buffer">Your Joyful 12 profile</h3>
      <p>All responses are optional. This will help us customize the experience to you.</p>
    </div>
    <div class='col-md-4'>
      <p>
        <%= link_to 'Go directly to orientation', page_path('orientation'), class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>

  <% if @user.errors.present? %>
    <div class='alert alert-danger'>
      <a class="close" data-dismiss="alert">×</a>
      <%= @user.errors.full_messages.first  %>
    </div>
  <% end %>

  <%= form_for @user, html: { role: "form" } do |f| %>
    <div class='row'>
      <div class='col-md-12'>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>
    </div>

    <h4 class="top-buffer">Family members participating in the course</h4>
    <%= f.fields_for :family_members do |builder| %>
      <%= render 'family_member_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add A Family Member", f, :family_members, class: 'js-add-fields btn btn-primary pull-right' %>
    <p>&nbsp;</p>


    <hr>

    <%= f.submit 'Update Profile', class: 'btn btn-primary' %>
    <%= link_to 'change password' %>
  <% end %>
</div>

<div class="page-header">
  <h3>Saved Shopping Lists</h3>
</div>

<ul class='list-group'>
  <% current_user.shopping_lists.order(created_at: :desc).each do |shopping_list| %>
    <li class='list-group-item'>
      <%= link_to shopping_list.completed_at.nil? ? 'Current list' : shopping_list.name, edit_shopping_list_path(shopping_list) %>
      - created on <%= shopping_list.created_at.strftime('%B %e, %Y') %>
    </li>
  <% end %>
</ul>
