<div class='row'>
  <div class='col-md-12'>
    <div class="page-header">
      <h3 id="shopping-lists">Saved Shopping Lists</h3>
    </div>
  </div>
</div>

<table class='table table-bordered table-striped table-text-middle'>
  <tr>
    <th>Name</th>
    <th>Created On</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= link_to 'Current list', edit_shopping_list_path('current') %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @user.shopping_lists.order(created_at: :desc).where.not(completed_at: nil).each do |shopping_list| %>
  <tr>
    <td><%= link_to shopping_list.name, edit_shopping_list_path(shopping_list) %></td>
    <td><%= shopping_list.created_at.strftime('%B %e, %Y') %></td>
    <td>
      <%= link_to "Remove", shopping_list, method: :delete, confirm: 'Are you sure you want to delete this shopping list?',
                                                            class: 'btn btn-sm btn-default' %>
    </td>
    <td>

      <%= form_tag shopping_list_emails_path, method: :post do %>
        <%= hidden_field_tag 'shopping_list_email[shopping_list_id]', shopping_list.id %>
        <%= submit_tag 'Email me', class: 'btn btn-sm btn-default' %>
      <% end %>

    </td>
  </tr>
  <% end %>
</table>

<% unless @user.onboarded %>
<div class="modal fade modal-auto-open" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="centered">
          <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/0a7fa9d1e3db6ad2f886b876f3f496c43cc77ea5.png?1393748893" />
          <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/ef61e49e3664a76e158d6629992366b1047e9145.png?1393748422" />
        </div>
        <div class="top-buffer"></div>
        <h2 class="text-center">Welcome to the Joyful 12!</h2>
        <h3 class="text-center">Excited to get started?</h3>
        <p class="top-buffer">You'll go through a quick orientation to learn all about the course, and then you're in!</p>
        <p class="top-buffer text-center">(We promise it's super fun)</p>
        <div class="top-buffer"></div>



        <%= form_for @user do |f| %>
            <%= f.submit "Let's get started", class: 'btn btn-primary centered' %>
            <%= f.hidden_field :email %>
            <% if params[:onboarded] == 'false' %>
                <p class="text-danger text-center">You must accept the terms to continue.</p>
            <% end %>
            <div class="form-group">
              <div class="checkbox">
                <%= f.check_box :onboarded %>
                <%= f.label :onboarded, "yes, I've read and accept the" %>
                <a href="/pages/ToS">Terms of Service</a>
              </div>
            </div>

            <%= f.hidden_field :hide_notice, value: true %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<% end %>


