<div class="page-header">
  <h1>Video Library <small class='hidden-xs'>Extra resources for the program</small></h1>
</div>

<div class="page-sub-header text-center">
  <h2 id="videos" class="dotted">Prep Your Produce</h2>
</div>

<div class="row bg-grey top-padding">
  <div class="col-sm-12">
    <% @prep_video_links.each do |video_link| %>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnail thumbnail-group">
            <div class="video-embed">
              <%= content_tag(:iframe, '', frameborder: 0, webkitallowfullscreen: true, mozallowfullscreen: true,
                              allowfullscreen: true, src: "///player.vimeo.com/video/#{video_link.provider_id}?title=0&amp;byline=0&amp;portrait=0") %>
            </div>
            <div class="caption-video">
              <h4 class="no-buffer"><%= video_link.name %></h4>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="page-sub-header text-center">
  <h2 id="videos" class="dotted">Kitchen Techniques</h2>
</div>

<div class="row bg-grey top-padding">
  <div class="col-sm-12">
    <% @technique_video_links.each do |video_link| %>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnail thumbnail-group">
            <div class="video-embed">
              <%= content_tag(:iframe, '', frameborder: 0, webkitallowfullscreen: true, mozallowfullscreen: true,
                              allowfullscreen: true, src: "///player.vimeo.com/video/#{video_link.provider_id}?title=0&amp;byline=0&amp;portrait=0") %>
            </div>
            <div class="caption-video">
              <h4 class="no-buffer"><%= video_link.name %></h4>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="page-sub-header text-center">
  <h2 id="videos" class="dotted">Cooking with Kids</h2>
</div>

<div class="row bg-grey top-padding">
  <div class="col-sm-12">
    <% @kid_video_links.each do |video_link| %>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnail thumbnail-group">
            <div class="video-embed">
              <%= content_tag(:iframe, '', frameborder: 0, webkitallowfullscreen: true, mozallowfullscreen: true,
                              allowfullscreen: true, src: "///player.vimeo.com/video/#{video_link.provider_id}?title=0&amp;byline=0&amp;portrait=0") %>
            </div>
            <div class="caption-video">
              <h4 class="no-buffer"><%= video_link.name %></h4>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>





<div class="row">
  <img class="centered top-padding" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/11ed50d2574b967713a426bd9e30fe85cfd13df2.png?1402437916"/>
</div>

<h3 class="text-center">Aw Shucks, Fall isn't available yet!</h3>
<h4 class="text-center">(but you'll get access when it is!)</h4>

<div class="spacer"></div>
<div class="page-sub-header text-center">
  <h2 class="dotted">Fall Recipes and Videos</h2>
</div>
<div class="row col-md-8 col-md-offset-2 bg-grey general-padding">
  <h3 class="text-center no-buffer">Coming September 2014</h3>
  <p>Thank you for joining us for a full year! We're busy putting our Fall recipes together, and we'll let you know as soon as they're available.</p>
  <div class="col-md-8 col-md-offset-2">

  </div>
</div>


<div class="page-sub-header text-center">
  <h2 class="dotted">Quick Links</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="/videos" class="btn btn-primary btn-lg btn-block">Go To The Video Library</a>
  </div>
  <div class="col-md-4">
    <a href="/parent_resources" class="btn btn-default btn-lg btn-block">View Parent Resources</a>
  </div>
  <div class="col-md-4">
    <a href="/pages/orientation" class="btn btn-warning btn-lg btn-block">Go Back To Orientation</a>
  </div>
</div>




<div class="row">
  <img class="centered top-padding" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/11ed50d2574b967713a426bd9e30fe85cfd13df2.png?1402437916"/>
</div>

<h3 class="text-center">Aw Shucks, You Don't Have Access To This!</h3>
<h4 class="text-center">(but we'd love for you to join us!)</h4>

<div class="spacer"></div>

<div class="btn btn-primary col-md-offset-4 col-md-4"><h4>Upgrade and Join Us Now</h4></div>



<div class="page-sub-header text-center">
  <h2 class="dotted">Quick Links</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="/videos" class="btn btn-primary btn-lg btn-block">Go To The Video Library</a>
  </div>
  <div class="col-md-4">
    <a href="/parent_resources" class="btn btn-default btn-lg btn-block">View Parent Resources</a>
  </div>
  <div class="col-md-4">
    <a href="/pages/orientation" class="btn btn-warning btn-lg btn-block">Go Back to Orientation</a>
  </div>
</div>


