/ -- ==============================================
/		MAIN NAV

#main-nav.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button{type: "button", class: "navbar-toggle", "data-toggle" => "collapse", "data-target" => "#site-nav"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      <!-- ======= LOGO ========-->
      %a.navbar-brand{href: "/"}
        %span.logo-small
          = image_tag 'qubico/joyful12-logo-small.png'

        <!-- ==== Image Logo ==== -->
        <!--<img class="site-logo" src="/assets/qubico/logo.png" alt="logo" />-->

    #site-nav.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right.row
        %li.hidden-sm
          %a.scrollto{href: "#chefhollie"}
            Chef Hollie
        %li.hidden-sm
          %a.scrollto{href: "#reviews"}
            Reviews
        %li.hidden-sm
          %a.scrollto{href: "#tour"}
            Tour
        %li.hidden-sm
          %a.scrollto{href: "#contact"}
            Contact
        %li.hidden-sm.hidden-xs
          %a.color{href: "http://www.joyfoodly.com/blog", target: "_blank"}
            Blog
    <!--End navbar-collapse -->

  <!--End container -->

<!--End main-nav -->
<!-- ==============================================
Chef Hollie
=============================================== -->
%section#chefhollie.color-bg.light-typo.padding-top-bottom.top-section.cta-iphones
  %div.container

    - if params[:message].present?
      %p.text-warning.col-md-offset-5.btn.btn-warning
        = params[:message]

    %div.row

      %div.col-sm-4

        %div.ipad-frame.scrollimation.fade-up

          = image_tag 'qubico/hollie-5.png', class: 'img-responsive img-center'

          %div.ipad-screen.ipad-slider

            %ul.slides

              %li
                = image_tag 'qubico/hollie-6.png', class: 'img-responsive'
              %li
                = image_tag 'qubico/hollie-7.png', class: 'img-responsive'

      %div.col-sm-8
        %h2
          Learn From Chef Hollie
        %p
          The Joyful 12 was created by Chef Hollie Greene as a way to support families in eating more fruits and veggies (and help them enjoy the experience!)
        %p
          Hollie has worked with over 2,000 parents and children across the country, and knows that kids love eating fruits and vegetables. After attending the French Culinary Institute
          of New York City, Hollie worked with non-profits to develop programs that help get kids excited about vegetables.
        %p
          In the Joyful 12, Hollie will walk you through basic principles on introducing children to new foods, tips on how to get kids involved in the kitchen, and all kinds of resources to
          make you a more confident home cook. She believes in flavor and fun above all else in the kitchen, which is what you get with the Joyful 12!
        - if @signup_url == ''  
          %a.btn.btn-qubico.white
            .hidden#strip-data{'data-key' => ENV['STRIPE_PUBLIC_KEY'],
                               'data-currency' => 'usd',
                               'data-image' => image_path('payments/stripe-store-image.png'),
                               'data-name' => 'Joyful 12',
                               'data-panelLabel' => 'Pay {{amount}}',
                               'data-billing-address' => 'true',
                               'data-shipping-address' => 'true',
                               'data-description' => "Joyful 12 Lifetime (#{number_to_currency(@price / 100)})",
                               'data-amount' => @price}

            %i.fa.fa-arrow-down.signup_button
              Sign Up Now!  
            = form_tag user_registration_path, method: :post, id: 'signup_form' do
              = hidden_field_tag :dummy  
        - else
          .btn.btn-qubico.white#zero-price-button
            %i.fa.fa-arrow-down.signup_button
              Sign Up Now!

// ==============================================
// RESPONSIVE VIDEO

%section.gray-bg.padding-top-bottom.hidden-xs
  %div.container
    %h1.section-title
      The Joyful 12 is for Busy Families
    %p.section-description
      You can make great food with Chef Hollie's support.

    %div.row

      .col-sm-10.col-sm-offset-1
        .macbook-frame
          = image_tag 'qubico/macbook2.png', class: 'img-responsive img-center'

          .macbook-screen
            %iframe{width: "640", height: "360", src: "//player.vimeo.com/video/88189339?color=4196b4", frameborder: "0", allowfullscreen: true}

//-- ==============================================
// Reviews
//==============================================

%section#reviews.white-bg.padding-top-bottom

  .container

    %h1.section-title
      Real Families Are Excited
    %p.section-description
      Take their word for it!

    .row.team-member
    
      .col-sm-3.col-sm-offset-1.member-thumb.scrollimation.fade-right

        = image_tag 'qubico/jean.png', class: 'img-responsive img-center'
        %h4
          Jean
        %p.title
          Aunt of 2 in Minneapolis, MN

      .col-sm-7.scrollimation.fade-left

        .member-details
          %p 
            Our niece and nephew were both asking for more broccoli after this fresh take of Mac 'n Cheese.

    .row.team-member.right
    
      .col-sm-3.col-sm-push-8.member-thumb.scrollimation.fade-left

        = image_tag 'miguel.jpg', class: 'img-responsive img-center'
        %h4
          Miguel
        %p.title
          Father of 3 in Novato, California

      .col-sm-7.col-sm-pull-2.scrollimation.fade-right

        .member-details
          %p 
            Joyful 12 has taught me that you do not have begin with a love for cooking to enjoy cooking. Everyone will gain their own appreciation when learning and preparing the simple, delicious Joyful 12 meals. Mine is being satisfied that my children are not only learning a life skill that will nourish them the rest of their lives, but they are doing it humanely for themselves and for the environment by considering veggies and fruits as their first source of food.
          %p
          %a{href: "http://www.joyfoodly.com/miguel", target: "_blank"}
            Read more about Miguel

    .row.team-member

      .col-sm-3.col-sm-offset-1.member-thumb.scrollimation.fade-right

        = image_tag 'qubico/augusta.png', class: 'img-responsive img-center'
        %h4
          Augusta
        %p.title
          Mother of 2 in South Carolina


      .col-sm-7.scrollimation.fade-left

        .member-details
          %p
            We made the dreamy greenie quesadillas tonight. They were fabulous! Even my son loved them and I
            thought the greens would be a hard sell. They were really filling so I have leftovers for lunch.
            And I love that avocado sauce…I could eat that everyday. We're having fun trying the Joyful 12
            recipes. The kids are always willing to try something new if I tell them it's your recipe.</p>


// -- ==============================================
// CALL TO ACTION
// ===============================================
%section.color-bg.light-typo.cta.hidden-xs

  .container

    .row
      .col-md-9.cta-message.col-sm-8
        %p
          %strong
            The Joyful 12
          is a year of eating in season with Chef Hollie. Busy families get access to 144 recipes, video tutorials,
          a community forum, parent resources, and more!

      .col-md-3.cta-button
        %p.text-center
          - if @signup_url == ''
            .hidden#stripe-data{'data-key' => ENV['STRIPE_PUBLIC_KEY'],
                               'data-currency' => 'usd',
                               'data-image' => image_path('payments/stripe-store-image.png'),
                               'data-name' => 'Joyful 12',
                               'data-panelLabel' => 'Pay {{amount}}',
                               'data-billing-address' => 'true',
                               'data-shipping-address' => 'true',
                               'data-description' => "Joyful 12 Lifetime (#{number_to_currency(@price / 100)})",
                               'data-amount' => @price}
            %a.btn.btn-qubico.white
              %i.fa.fa-shopping-cart.signup_button
                Sign Up Now!  
              = form_tag user_registration_path, method: :post, id: 'signup_form' do
                = hidden_field_tag :dummy
          - else
            %a.btn.btn-qubico.white
              %i.fa.fa-shopping-cart.signup_button
                Sign Up Now!  


// !-- ==============================================
// Tour
// ===============================================
%section#tour.gray-bg.padding-top

  .container

    %h1.section-title
      Take a Tour
    %p.section-description
      Join us for a year of eating in season. Try each veggie three ways, and learn how to get your family involved. Packed with tutorials and tips for the busy parent.

    .ipad-frame.scrollimation.fade-up

      = image_tag 'qubico/ipad-landscape.png', class: 'img-responsive img-center'

      .ipad-screen.ipad-slider

        %ul.slides

          %li
            = image_tag 'qubico/tour-2.png', class: 'img-responsive'

          %li
            = image_tag 'qubico/tour-15.png', class: 'img-responsive'

          %li
            = image_tag 'qubico/tour-3.png', class: 'img-responsive'

          %li
            = image_tag 'qubico/tour-4.png', class: 'img-responsive'

          %li
            = image_tag 'qubico/tour-5.png', class: 'img-responsive'

          %li
            = image_tag 'qubico/tour-6.png', class: 'img-responsive'

          %li
            = image_tag 'qubico/tour-16.png', class: 'img-responsive'

          %li
            = image_tag 'qubico/tour-14.png', class: 'img-responsive'

          %li
            = image_tag 'qubico/tour-11.png', class: 'img-responsive'


// -- ==============================================
// CALL TO ACTION
// ===============================================

%section.color-bg.light-typo.cta
  .container

    .row
      .col-sm-6.hidden-xs
        = image_tag 'qubico/hollie-3.png', class: 'img-responsive'

      .col-sm-6.col-xs-12
        %h2{style: 'margin-top: 0px'}
          How the Joyful 12 Project Improves the Health of School Communities
        %p
          The Joyful 12 Project aims to improve the health of our children by providing cooking education to every parent, teacher, and child in School Communities through a lifetime membership to the Joyful 12.
          
        %p
          Schools, through their Cafeterias and Classrooms, are healthier today because of the work being done by individuals and organizations that care about our children’s health. But little to no support has been provided to parents to help make learning about healthy habits at home fun and engaging. We can create sustainable healthy food habits by supporting parents with access to education and resources in their own homes.

        %h3
          How you can get involved

        %p
          Feel great knowing that every purchase you make provides lifetime access to a family in our Joyful 12 School Projects.
        %p
          Spread the word about this project to support our crowdfunding campaign on Barnraiser in February 2015.
        

// <!-- ==============================================
// CONTACT
// ===============================================

%section#contact.gray-bg.padding-top-bottom

  .container

    %h1.section-title
      We'd Love to Hear from You!
    %p.contact-description
      Do you have questions or feedback? Let us know!
    .col-md-offset-5.col-sm-6.col-sm-offset-4.hidden-xs
      %span.social-blue
        %a{href: image_url('http://www.facebook.com/joyfoodly'), target: "_blank"}
          = image_tag 'qubico/facebook.png'
      %span.social-blue
        %a{href: image_url('http://www.pinterest.com/joyfoodly'), target: "_blank"}
          = image_tag 'qubico/pinterest.png'
      %span.social-blue
        %a{href: image_url('http://www.instagram.com/joyfoodly'), target: "_blank"}
          = image_tag 'qubico/instagram.png'
      %span.social-blue
        %a{href: image_url('https://plus.google.com/+Joyfoodly'), target: "_blank"}
          = image_tag 'qubico/google.png'
      %span.social-blue
        %a{href: image_url('http://www.twitter.com/joyfoodly'), target: "_blank"}
          = image_tag 'qubico/twitter.png'
      %span.social-blue
        %a{href: image_url('http://www.vimeo.com/joyfoodly'), target: "_blank"}
          = image_tag 'qubico/vimeo.png'

    .row
      .col-sm-4.col-sm-offset-2.text-center.contact-item.scrollimation.fade-right.hidden-xs

        .icon
          %i.glyphicon.glyphicon-pushpin
        %h2
          Our Location
        %p
          San Francisco, CA

      .col-sm-4.text-center.contact-item.scrollimation.fade-left

        .icon
          %i.glyphicon.glyphicon-envelope
        %h2
          Email Us
        %p
          hollie@joyfoodly.com

    .row

      = form_tag contact_forms_path, id: 'contact-form', class: 'col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2' do
        .form-group
          = label_tag :name, class: 'control-label'
          .controls
            = text_field_tag :name, '', placeholder: 'Your name', class: 'form-control requiredField label_better',                          required: true
            %i.fa.fa-user

        .form-group
          = label_tag :email, class: 'control-label'
          .controls
            = email_field_tag :email, '', placeholder: 'Your email', class: 'form-control requiredField label_better',                                       required: true
            %i.fa.fa-user

        .form-group
          = label_tag :name, class: 'control-label'
          .controls
            = text_field_tag :subject, '', placeholder: 'Subject', class: 'form-control requiredField label_better',              required: true
            %i.fa.fa-user

        .form-group
          = label_tag :name, class: 'control-label'
          .controls
            = text_area_tag :message, '', placeholder: 'Your Message',                                class: 'form-control requiredField label_better', rows: '6', required: true 
            %i.fa.fa-user
                
        %p
          = button_tag "Send Message", class: "btn btn-qubico btn-block js-submit", data: {error_message: "Error!",          sending_message: "Sending...", ok_message: "Message Sent" }

// <!-- ==============================================
// FOOTER
// ===============================================
%footer#main-footer.color-bg.light-typo

  .container.text-center
    %ul.social-links
      = render partial: 'social_link', locals: {uri: 'http://www.facebook.com/joyfoodly', img: 'qubico/facebook-white.png'}
      = render partial: 'social_link', locals: {uri: 'http://www.twitter.com/joyfoodly', img: 'qubico/twitter-white.png'}
      = render partial: 'social_link', locals: {uri: 'https://plus.google.com/+Joyfoodly', img: 'qubico/google-white.png'}
      = render partial: 'social_link', locals: {uri: 'http://www.pinterest.com/joyfoodly', img: 'qubico/pinterest-white.png'}
      = render partial: 'social_link', locals: {uri: 'http://www.instagram.com/joyfoodly', img: 'qubico/instagram-white.png'}
      = render partial: 'social_link', locals: {uri: 'http://www.vimeo.com/joyfoodly', img: 'qubico/vimeo-white.png'}

    %p
      &copy;2014
      %a{href: "http://www.joyfoodly.com", target: "_blank"}
        JoyFoodly
      , LLC.

