.rootpage
  .row.navrow
    .col-xs-1
    .col-xs-2
      = image_tag "joyful12logo.png", class: 'logoimage'
    .col-xs-2
    = form_tag('/users/sign_in', id: 'signin_form') do
      .col-xs-3
        %input.textinput#email_field{name: 'user[email]', placeholder: 'Email', style: 'width: 90%; float: right;'}  
      .col-xs-4
        %input.textinput#password_field{name: 'user[password]', type: 'password', placeholder: 'Password', style: 'display: inline'}  
        %span#signin-box
          SIGN IN
  .row.herorow
    .col-xs-6{style: 'height: 100%;'}
      .vertical-third
      .vertical-third
        .bold-text
          = "WELCOME#{@welcome_message != '' ? (', ' + @welcome_message) : ''}"
          %br
          JOIN US FOR A YEAR OF EATING IN SEASON.
      .vertical-third
    .col-xs-6
      = image_tag "screen_shapes_trans.gif", class: 'img-responsive heroimage', style: 'margin: auto;'
      .center-div{style: 'width: 80%'}
        Get an entire year of access for just $40!
      .center-div
        .signupbox.orangebg
          = form_tag user_registration_path, method: :post do
            = hidden_field_tag :product_id, 'season'
            %script{'src' => 'https://checkout.stripe.com/checkout.js', class: 'stripe-button',
            'data-key' => ENV['STRIPE_PUBLIC_KEY'],
            'data-image' => image_path('payments/stripe-store-image.png'),
            'data-label' => 'SIGN ME UP!',
            'data-name' => 'Joyful 12',
            'data-panel-label' => 'Pay {{amount}}',
            'data-billing-address' => 'true',
            'data-shipping-address' => 'true',
            'data-description' => "Joyful 12 Season (#{number_to_currency(ENV['PRICE_PER_SEASON'].to_i / 100)})",
            'data-amount' => ENV['PRICE_PER_SEASON']}
  .row.section
    .col-xs-12
      .center-div.large-text
        MAIN FEATURES

  .row
    .col-xs-12
      .center-div.blueline

  .row.section
    .center-div
      I name the dog Fido.

      That taxi driver found the box empty.

      We called her "the selfish store clerk".

      I called him "the scientist".

      Ms. Brown named the dog Fido.

  .section.bottom-buffer
    .row    
      .col-xs-4.col-xs-offset-2.examplebox
      .col-xs-4.examplebox
    .row
      .col-xs-4.col-xs-offset-2.examplebox
      .col-xs-4.examplebox
                    
  .row.section.bottom-buffer
    .center-div.holliebox
      Learn more about Joyfoodly and Chef Hollie! 

  .row.section.giftbg.bottom-padding
    .col-xs-12
      .center-div.large-text
        GIVE A GIFT
    .row
      .col-xs-12
        .center-div.blueline

    .row.section
      .center-div
        They offered her a ride home.

        Buddy orders her a new hat.

        I buy her a gift.

        Those barbers offered her a ride home.

  .row.footerrow.top-padding.bottom-padding
    .center-div
      %span.social-icon
        =image_tag 'qubico/facebook-white.png'
      %span.social-icon
        =image_tag 'qubico/pinterest-white.png'
      %span.social-icon
        =image_tag 'qubico/instagram-white.png'
      %span.social-icon
        =image_tag 'qubico/google-white.png'
      %span.social-icon
        =image_tag 'qubico/twitter-white.png'


        
