.rootpage
  .row.navrow
    .col-xs-1
    .col-xs-2
      = image_tag "joyful12logo.png", class: 'logoimage'
    .col-xs-2
    .hidden-xs
      = form_tag('/users/sign_in', id: 'signin_form') do
        .col-xs-3
          %input.textinput#email_field{name: 'user[email]', placeholder: 'Email', style: 'width: 90%; float: right;'}  
        .col-xs-4
          %input.textinput#password_field{name: 'user[password]', type: 'password', placeholder: 'Password', style: 'display: inline'}  
          %span#signin-box
            SIGN IN
  .row.herorow
    .col-xs-12.col-sm-6.leftherocolumn
      .leftherocolumntext
        .bold-text.titletext
          = "WELCOME#{@welcome_message != '' ? (', ' + @welcome_message) : '.'}"
          %br
          = HomePageFeature.get_feature(:general_welcome_message)
          // Making this raw because we'll have html in it
        .subtext.hidden-xs
          = raw(HomePageFeature.get_feature(:welcome_bullets))
    .col-xs-12.col-sm-6
      .rightcolumntext
        = image_tag "screen_shapes_trans.gif", class: 'img-responsive heroimage', style: 'margin: auto;'
        .price_circle
          .vertical-third
          .vertical-third
            = @price_in_dollars
          .vertical-third
        .center-div
          = HomePageFeature.get_feature(:rightcolumn_subtext)
          %span.bold-text
            = @price_in_dollars
        .center-div
          = form_tag user_registration_path, method: :post do
            = hidden_field_tag :product_id, 'season'
            %script{'src' => 'https://checkout.stripe.com/checkout.js', class: 'stripe-button',
                    'data-key' => ENV['STRIPE_PUBLIC_KEY'],
                    'data-image' => image_path('payments/stripe-store-image.png'),
                    'data-label' => 'START COOKING NOW!',
                    'data-name' => 'Joyful 12',
                    'data-panel-label' => 'Pay {{amount}}',
                    'data-billing-address' => 'true',
                    'data-shipping-address' => 'true',
                    'data-description' => "Joyful 12 Season (#{number_to_currency(@price / 100)})",
                    'data-amount' => @price}
  .row.section
    .col-xs-12
      .center-div.large-text.limited-width.bold-text.feature-title
        = HomePageFeature.get_feature(:section_title_one)

  .row
    .col-xs-12
      .center-div.blueline

  .row.section
    .center-div.limited-width
      = HomePageFeature.get_feature(:section_subtext_one)

  .section.bottom-buffer
    .row
      .clearfix
        .col-xs-2.hidden-sm.hidden-md.hidden-lg
        .col-sm-1.col-md-2.hidden-xs

        .col-xs-3.col-sm-2.col-md-1.featurebox
          .box-image
            = image_tag 'qubico/feature-1-b.png', class: 'img-responsive'
        .col-xs-5.col-sm-3.featurebox
          .box-header.bold-text
            = HomePageFeature.get_feature :box11_header
          .box-text
            = HomePageFeature.get_feature :box11_text
        .col-xs-2.hidden-sm.hidden-md.hidden-lg

        .col-xs-2.hidden-sm.hidden-md.hidden-lg{style: 'clear: left;'}

        .col-xs-3.col-sm-2.col-md-1.featurebox
          .box-image
            = image_tag 'qubico/feature-1-b.png', class: 'img-responsive'
        .col-xs-5.col-sm-3.featurebox
          .box-header.bold-text
            = HomePageFeature.get_feature :box12_header
          .box-text
            = HomePageFeature.get_feature :box12_text
        .col-sm-1.col-md-2.hidden-xs
        .col-xs-2.hidden-sm.hidden-md.hidden-lg

      .top-buffer.xs-remove-buffer
        .col-xs-2.hidden-sm.hidden-md.hidden-lg
        .col-sm-1.col-md-2.hidden-xs

        .col-xs-3.col-sm-2.col-md-1.featurebox
          .box-image
            = image_tag 'qubico/feature-1-b.png', class: 'img-responsive'
        .col-xs-5.col-sm-3.featurebox
          .box-header.bold-text
            = HomePageFeature.get_feature :box11_header
          .box-text
            = HomePageFeature.get_feature :box11_text
        .col-xs-2.hidden-sm.hidden-md.hidden-lg

        .col-xs-2.hidden-sm.hidden-md.hidden-lg{style: 'clear: left;'}

        .col-xs-3.col-sm-2.col-md-1.featurebox
          .box-image
            = image_tag 'qubico/feature-1-b.png', class: 'img-responsive'
        .col-xs-5.col-sm-3.featurebox
          .box-header.bold-text
            = HomePageFeature.get_feature :box12_header
          .box-text
            = HomePageFeature.get_feature :box12_text
        .col-sm-1.col-md-2.hidden-xs
        .col-xs-2.hidden-sm.hidden-md.hidden-lg

  // End of main features

  .row.section.bottom-buffer
    .center-div.holliebox.limited-width
      Learn more about Joyfoodly and Chef Hollie! 

  .row.section.giftrow.bottom-padding
    .col-xs-12
      .center-div.large-text
        = HomePageFeature.get_feature(:section_title_two)

    .row
      .col-xs-12
        .center-div.blueline

    .row.section
      .center-div.limited-width
        = HomePageFeature.get_feature(:section_subtext_two)

    .row.section.giftcard.center-div.limited-width
      %a{name: 'gift'}
      .section
        .large-text.bold-text
          = @price_in_dollars
      .section
        .bold-text    
          Make someone a full year member!
      .section
        .center-div.limited-width
          = form_tag user_registration_path, method: :post do
            .form-group
              = text_field_tag :recipient_first_name, '', placeholder: 'Recipient first name', class: 'form-control', required: true
            .form-group
              = text_field_tag :recipient_last_name, '', placeholder: 'Recipient last name', class: 'form-control', required: true
            .form-group
              = email_field_tag :recipient_email, '', placeholder: 'Recipient email', class: 'form-control', required: true

            = hidden_field_tag :product_id, 'year'
            .form-group
              = text_area_tag :recipient_gift_message, '', placeholder: 'Enter a short message for recipient!', class: 'form-control', required: true, rows:'2'

              %script{src: 'https://checkout.stripe.com/checkout.js', class: 'stripe-button',
                      "data-key" =>  ENV['STRIPE_PUBLIC_KEY'],
                      "data-image" => image_path('payments/stripe-store-image.png'),
                      "data-label" => 'Give A Gift',
                      "data-name" => 'Joyful 12',
                      "data-billing-address" => 'true',
                      "data-shipping-address" => 'true',
                      "data-description" => "Joyful 12 Gift #{number_to_currency(@price / 100)} Full Year"}

  .row.footerrow.top-padding.bottom-padding
    .center-div
      %span.social-icon
        =image_tag 'qubico/facebook-white.png'
      %span.social-icon
        =image_tag 'qubico/pinterest-white.png'
      %span.social-icon
        =image_tag 'qubico/instagram-white.png'
      %span.social-icon
        =image_tag 'qubico/google-white.png'
      %span.social-icon
        =image_tag 'qubico/twitter-white.png'



