.rootpage
  .row.navrow
    .col-xs-1
    .col-xs-2
      = image_tag "joyful12logo.png", class: 'logoimage'
    .col-xs-2
    .hidden-sm.hidden-md.hidden-lg
      .col-xs-2.col-xs-offset-4
        = image_tag 'hamburger icon.jpg', id: 'hamburger_icon'
    .hidden-xs#loginbox
      = form_tag('/users/sign_in', id: 'signin_form') do
        .col-sm-3.col-xs-7
          %input.textinput#email_field{name: 'user[email]', placeholder: 'Email', style: 'width: 90%; float: right;'}  
        .col-sm-4.col-xs-5
          .password-box
            %input.textinput#password_field{name: 'user[password]', type: 'password', placeholder: 'Password', style: 'display: inline'}
            #signin-box
              SIGN IN
            .forgot-password
              =link_to 'Forgot Password?', '/users/password/new'
  .row.messagerow
    - if flash[:message].present?            
      %p.text-warning.col-md-offset-5.btn.btn-warning
        = flash[:message]

  .row.herorow
    .col-xs-12.col-sm-6.leftherocolumn
      .leftherocolumntext
        .bold-text.titletext
          %br
          = HomePageFeature.get_feature_switched(:general_welcome_message, session)
          // Making this raw because we'll have html in it
        .subtext.hidden-xs
          = raw(HomePageFeature.get_feature(:welcome_bullets))
    .col-xs-12.col-sm-6
      .rightcolumntext
        = image_tag "screen_shapes_trans.gif", class: 'img-responsive heroimage', style: 'margin: auto; min-height: 200px'
        .price_circle
          .vertical-third
          .vertical-third.bubble-third-middle
            = pp_price(@price, 0)
          .vertical-third
        .center-div
          = HomePageFeature.get_feature_switched(:rightcolumn_subtext, session)
        .center-div
          = link_to new_user_registration_path, class: 'stripe-button-el', id: 'zero-price-button' do
            <span>START COOKING NOW!</span>

        .gift-div
          = link_to 'Or give the gift of Joyful12 <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>...'.html_safe,
            new_gift_path, class: 'gift'

  .row.section
    .col-xs-12
      .center-div.limited-width.bold-text.feature-title
        = raw(HomePageFeature.get_feature(:section_title_one))
    .row
      .col-xs-12
        .center-div.blueline

  .row.section
    .center-div.limited-width
      = HomePageFeature.get_feature(:section_subtext_one)

  .section.bottom-buffer
    .row
      .col-xs-2.hidden-sm.hidden-md.hidden-lg
      .col-sm-1.col-md-2.hidden-xs

      = render partial: 'feature_image', locals: {image_filename: 'circle_images/pink radish.png'}
      
      .col-xs-6.col-sm-3.featurebox
        .box-header.bold-text
          = HomePageFeature.get_feature :box11_header
        .box-text
          = HomePageFeature.get_feature :box11_text
      .col-xs-2.hidden-sm.hidden-md.hidden-lg

      .second-col-arrange
        .col-xs-2.hidden-sm.hidden-md.hidden-lg{style: 'clear: left;'}

        = render partial: 'feature_image', locals: {image_filename: 'circle_images/just hollie.png'}          

        .col-xs-6.col-sm-3.featurebox
          .box-header.bold-text
            = HomePageFeature.get_feature :box12_header
          .box-text
            = HomePageFeature.get_feature :box12_text
        .col-sm-1.col-md-2.hidden-xs
        .col-xs-2.hidden-sm.hidden-md.hidden-lg

    .row.top-buffer.xs-remove-buffer
      .col-xs-2.hidden-sm.hidden-md.hidden-lg
      .col-sm-1.col-md-2.hidden-xs

      = render partial: 'feature_image', locals: {image_filename: 'circle_images/ingredients.png'}
          
      .col-xs-6.col-sm-3.featurebox
        .box-header.bold-text
          = HomePageFeature.get_feature :box21_header
        .box-text
          = HomePageFeature.get_feature :box21_text
      .col-xs-2.hidden-sm.hidden-md.hidden-lg

      .second-col-arrange
        .col-xs-2.hidden-sm.hidden-md.hidden-lg{style: 'clear: left;'}

        = render partial: 'feature_image', locals: {image_filename: 'circle_images/hollie with kids.png'}
        
        .col-xs-6.col-sm-3.featurebox
          .box-header.bold-text
            = HomePageFeature.get_feature :box22_header
          .box-text
            = HomePageFeature.get_feature :box22_text
        .col-sm-1.col-md-2.hidden-xs
        .col-xs-2.hidden-sm.hidden-md.hidden-lg

  // End of main features

  .row.section.bottom-buffer
    .center-div.holliebox.limited-width
      = link_to 'Learn more about Joyful12 and Chef Hollie!', '/about'

  = render 'shared/tour'

  .row.footerrow.top-padding.bottom-padding
    .center-div
      %span.social-icon
        %a{href: 'http://www.facebook.com/joyfoodly'}
          =image_tag 'qubico/facebook-white.png'
      %span.social-icon
        %a{href: 'http://www.pinterest.com/joyfoodly'}
          =image_tag 'qubico/pinterest-white.png'
      %span.social-icon
        %a{href: 'http://www.instagram.com/joyfoodly'}
          =image_tag 'qubico/instagram-white.png'
      %span.social-icon
        %a{href: 'https://plus.google.com/+Joyfoodly'}
          =image_tag 'qubico/google-white.png'
      %span.social-icon
        %a{href: 'http://www.twitter.com/joyfoodly'}
          =image_tag 'qubico/twitter-white.png'
      %span.social-icon
        %a{href: 'http://www.vimeo.com/joyfoodly'}
          =image_tag 'qubico/vimeo-white.png'
      %p
        &copy;2014
        %a{href: "http://www.joyfoodly.com", target: "_blank"}
          JoyFoodly
          , LLC.



