<p><a href="http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/28bbff2f95908a247f9f0624b91b9e575bb9ff1e.pdf?1412352433" class="btn btn-primary" role="button">printable version of the schedule</a></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">The Joyful 12 Fall Recommended Schedule</div>
  <div class="panel-body">
    <p>Sometimes it takes a few tries to start liking a new vegetable. Our schedule has you trying each new fruit and veggie three different ways. Don't worry if you miss a week! This schedule is just a guide, and you know what's right for your family.</p>
    <p><%= link_to 'Learn more about how to use the Joyful 12! Watch orientation  >', page_path('orientation') %></p>
  </div>
  <!-- Table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Monday (easy)</th>
      <th>Wednesday (medium)</th>
      <th>Sunday (adventurous)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-carrots.png', width: 80, class: 'wiggle'), food_path('fall-carrots') %></td>
      <th>Carrots and Figs</th>
      <td><a href="https://www.joyful12.com/classroom/fall-carrots#easy-138">Orange and Chili Roasted Rainbow of Carrots with a Sunshine Dipping Sauce</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-carrots#medium-141">Nutty Fresh Carrot Buckwheat Noodle Salad Cups</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-carrots#complex-144">Creamy Carrot Goat Cheese Risotto</a> <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-figs#easy-168">Fall Figs Kissed with Lemony Maple Cream Cheese</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-cauliflower.png', width: 80, class: 'wiggle'), food_path('fall-cauliflower') %></td>
      <th>Cauliflower and Apples</th>
      <td><a href="https://www.joyful12.com/classroom/fall-cauliflower#easy-181">Playfully Purple Mashed Cauliflower</a> </td>
      <td><a href="https://www.joyful12.com/classroom/fall-cauliflower#medium-182">Roasted Cauliflower Spiced Up with a Minty Avocado Dipping Sauce</a> </td>
      <td><a href="https://www.joyful12.com/classroom/fall-cauliflower#complex-183">Cheesy Crunchy Cauliflower Gratin</a>
        <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-apple#easy-153">Abundance of Apples with a Nutty Chocolate Dip</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-mushrooms.png', width: 80, class: 'wiggle'), food_path('fall-mushrooms') %></td>
      <th>Mushrooms and Cranberries</th>
      <td><a href="https://www.joyful12.com/classroom/fall-mushrooms#easy-135">Wild and Wonderful Roasted Mushrooms Over Cheesy Polenta</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-mushrooms#medium-136">Chinese Five Spice Roasted Baby Bellas and Sweet Potato Pizza</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-mushrooms#complex-137">Comfort Curry Noodles with Roasted Mushrooms and Butternut Squash</a>
        <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-cranberries#easy-158">Crunchy Sweet Cranberry Pecan Granola</a>
      </td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-winter-squash.png', width: 80, class: 'wiggle'), food_path('fall-winter-squash') %></td>
      <th>Fall Squash and Figs</th>
      <td><a href="https://www.joyful12.com/classroom/fall-winter-squash#easy-145">Parmesan Perfect Roasted Spaghetti Squash</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-winter-squash#medium-146">Sweet-n-Savory Apple Pumpkin Soup</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-winter-squash#complex-147">Curried Squash and Crunchy Apple Quinoa Salad</a>
        <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-figs#medium-169">Balsamic Roasted Figgy Toasts</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-broccoli.png', width: 80, class: 'wiggle'), food_path('fall-broccoli') %></td>
      <th>Broccoli and Apples</th>
      <td><a href="https://www.joyful12.com/classroom/fall-broccoli#easy-149">Betcha Won&apos;t Believe It&apos;s Broccoli Pesto Pasta</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-broccoli#medium-151">Sesame Roasted Rockin&apos; Broccoli Fried Rice</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-broccoli#complex-152">Giggly Green Broccoli Potato Soup</a>
        <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-apple#medium-154">Apple Cranberry Crumble</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-celeriac.png', width: 80, class: 'wiggle'), food_path('fall-celeriac') %></td>
      <th>Celery Root and Cranberries</th>
      <td><a href="https://www.joyful12.com/classroom/fall-celeriac#easy-176">Rosemary Roasted Celery Root and Red Potatoes</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-celeriac#medium-177">Crazy Cool Celeriac Apple Salad</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-celeriac#complex-179">Creamy Dreamy Apple Celeriac Soup</a>
        <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-cranberries#medium-159">Cranberry Pancakes with a Maple Cranberry Syrup</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-jicama.png', width: 80, class: 'wiggle'), food_path('fall-jicama') %></td>
      <th>Jicama and Figs</th>
      <td><a href="https://www.joyful12.com/classroom/fall-jicama#easy-173">Chipotle Lime Jicama Snacks</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-jicama#medium-174">Citrus Guacamole Jicama Tostadas</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-jicama#complex-175">Mango Peach Jicama Fruit Salad</a>
        <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-figs#complex-170">Spiced Fig Chocolate Cake</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-leek.png', width: 80, class: 'wiggle'), food_path('fall-leek') %></td>
      <th>Leeks and Apples</th>
      <td><a href="https://www.joyful12.com/classroom/fall-leek#easy-139">Citrusy Divine Crunchy Braised Leeks</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-leek#medium-171">Best of Fall Leek and Potato Quiche</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-leek#complex-180">Lemony Leeks Fall Veggie Pasta</a> <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-apple#complex-156">Fall Apple Tart in a Walnut Quinoa Crust</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/fall-greens.png', width: 80, class: 'wiggle'), food_path('fall-greens') %></td>
      <th>Fall Greens and Cranberries</th>
      <td><a href="https://www.joyful12.com/classroom/fall-greens#easy-163">Fall Salad with a Crazy Good Carrot Ginger Salad Dressing and Homemade Croutons</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-greens#medium-165">California Collard Burrito Rolls</a></td>
      <td><a href="https://www.joyful12.com/classroom/fall-greens#complex-166">Mighty Delicious Dinosaur Kale Black Lentil Salad</a>
        <br />Fruit: <a href="https://www.joyful12.com/classroom/fall-cranberries#complex-161">Cranberry Walnut Carrot Cake Muffins</a></td>
    </tr>
    </tbody>
  </table>
</div>




