<p><a href="http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/31a570849cd0abe7e290852b70a22757dfa08b81.pdf" class="btn btn-primary" role="button">printable version of the schedule</a></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">The Joyful 12 Spring Recommended Schedule</div>
  <div class="panel-body">
    <p>Sometimes it takes a few tries to start liking a new vegetable. Our schedule has you trying each new fruit and veggie three different ways. Don't worry if you miss a week! This schedule is just a guide, and you know what's right for your family.</p>
    <p><%= link_to 'Learn more about how to use the Joyful 12! Watch orientation  >', page_path('orientation') %></p>
  </div>
  <!-- Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Monday (easy)</th>
        <th>Wednesday (medium)</th>
        <th>Sunday (adventurous)</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-spinach.png', width: 80, class: 'wiggle'), food_path('spring-spinach') %></td>
      <th>Spinach and Avocado</th>
      <td><a href="https://www.joyful12.com/classroom/spring-spinach/#spinach_strawberry_and_banana_pecan_salad_jars_with_sweet_champagne_vinaigrette">Spinach, Strawberry and Banana, Pecan Salad Jars with Sweet Champagne Vinaigrette</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-spinach/#spinach_pesto_pasta_with_chickpeas">Spinach Pesto Pasta with Chick Peas</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-spinach/#fast_and_easy_spring_minestrone_with_spinach_pesto">Fast and Easy Spring Minestrone with Spinach Pesto</a> <br />
        Dessert: <a href="https://www.joyful12.com/classroom/spring-avocado/#avocado_strawberry_popsicles">Avocado Strawberry Popsicles</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-potato.png', width: 80, class: 'wiggle'), food_path('spring-potato') %></td>
      <th>Potato and Rhubarb</th>
      <td><a href="https://www.joyful12.com/classroom/spring-potato/#purple_potato_salad_two_different_ways">Purple Potato Salad</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-potato/#homemade_bbq_potato_chips">Homemade BBQ Potato Chips</a> </td>
      <td><a href="https://www.joyful12.com/classroom/spring-potato/#potato_and_leek_soup">Potato Leek Soup with Herbed Croutons</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/spring-rhubarb/#rhubarb_strawberry_compote">Rhubarb Strawberry Compote</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-fennel.png', width: 80, class: 'wiggle'), food_path('spring-fennel') %></td>
      <th>Fennel and Strawberry</th>
      <td><a href="https://www.joyful12.com/classroom/spring-fennel/#fennel_and_apple_ranch_dippers">Fennel and Apple Ranch Dippers</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-fennel/#sweet_roasted_fennel_two_ways">Sweet Roasted Fennel Two Ways</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-fennel/#fennel_and_potato_au_gratin">Fennel and Potato Au Gratin</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/spring-strawberry/#strawberries_dipped_in_chocolate">Strawberries Dipped in Chocolate</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-asparagus.png', width: 80, class: 'wiggle'), food_path('spring-asparagus') %></td>
      <th>Asparagus and Avocado</th>
      <td><a href="https://www.joyful12.com/classroom/spring-asparagus/#curly_whirly_shaved_asparagus_salad">Curly Whirly Shaved Asparagus Salad</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-asparagus/#balsamic_roasted_asparagus">Balsamic Maple Roasted Asparagus</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-asparagus/#cheesy_asparagus_pizza">Cheesy Asparagus Pizza</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/spring-avocado/#avocado_and_mango_spring_rolls_with_sweet_lime_yogurt_dipping_sauce">Avocado and Mango Spring Rolls with Sweet Lime Yogurt Dipping Sauce</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-radish.png', width: 80, class: 'wiggle'), food_path('spring-radish') %></td>
      <th>Radish and Rhubarb</th>
      <td><a href="https://www.joyful12.com/classroom/spring-radish/#rainbow_of_radishes_with_two_creamy_radish_dips">A Rainbow of Radishes with two Creamy Radish Dips</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-radish/#savory_roasted_radishes_caprese_salad">Savory Roasted Radishes Caprese Salad</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-radish/#orange_shallot_butter_braised_radishes">Orange Shallot Butter Braised Radishes</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/spring-rhubarb/#rhubarb_ice_cream_float">Rhubarb Ice Cream Floats </a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-green-onion.png', width: 80, class: 'wiggle'), food_path('spring-green-onion') %></td>
      <th>Green Onion and Strawberry</th>
      <td><a href="https://www.joyful12.com/classroom/spring-green-onion/#green_scallion_ginger_buckwheat_noodles">Green Scallions Ginger Buckwheat Noodles</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-green-onion/#savory_green_onion_pancakes">Savory Green Onion Pancakes</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-green-onion/#green_scallion_and_veggie_maki_sushi">Green Scallion and Veggie Maki (Sushi)</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/spring-strawberry/#macerated_orange_basil_strawberries_with_yogurt">Macerated Orange Basil Strawberries with Yogurt</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-peas.png', width: 80, class: 'wiggle'), food_path('spring-peas') %></td>
      <th>Peas and Avocado</th>
      <td><a href="https://www.joyful12.com/classroom/spring-peas/#sugar_snap_peas_and_radish_dippers">Sugar Snap Peas and Radish Dippers with Super Duper Easy and Healthy Ranch Dressing </a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-peas/#petite_pea_and_goat_cheese_dip">Petite Pea and Goat Cheese Dip</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-peas/#sugar_snap_pea_veggie_fried_rice">Sugar Snap Pea Veggie Fried Rice</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/spring-avocado/#avocado_chocolate_mousse_with_spring_berries">Avocado Chocolate Mousse with Spring Berries</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-artichoke.png', width: 80, class: 'wiggle'), food_path('spring-artichoke') %></td>
      <th>Artichoke and Rhubarb</th>
      <td><a href="https://www.joyful12.com/classroom/spring-artichoke/#steamed_artichokes_with_two_dipping_sauces">Steamed Artichokes with Two Dipping Sauces</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-artichoke/#spinach_and_artichoke_grilled_cheese">Spinach and Artichoke Grilled Cheese</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-artichoke/#lazy_days_artichoke_and_spinach_lasagna">Lazy Days Artichoke and Spinach Lasagna</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/spring-rhubarb/#rhubarb_strawberry_quinoa_breakfast_pudding">Rhubarb Strawberry Quinoa Pudding </a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/spring-greens.png', width: 80, class: 'wiggle'), food_path('spring-greens') %></td>
      <th>Greens and Strawberry</th>
      <td><a href="https://www.joyful12.com/classroom/spring-greens/#simple_spring_lettuce_salad_with_homemade_vinaigrette">Simple Spring Lettuce Salad with a Homemade Vinaigrette</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-greens/#sweet_and_crunchy_arugula_salad_with_a_lime_cumin_vinaigrette">Sweet and Crunchy Arugula Salad with a Lime Cumin Vinaigrette</a></td>
      <td><a href="https://www.joyful12.com/classroom/spring-greens/#cheesy_rainbow_chard_and_potato_quiche">Cheesy Rainbow Chard and Potato Quiche</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/spring-strawberry/#strawberry_and_chocolate_bread_pudding">Strawberry and Chocolate Bread Pudding</a></td>
    </tr>
    </tbody>
  </table>
</div>
