<p><a href="http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/c5af76a18ad96e4ba81e34e12b64919472314df3.pdf" class="btn btn-primary" role="button">printable version of the schedule</a></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">The Joyful 12 Summer Recommended Schedule</div>
  <div class="panel-body">
    <p>Sometimes it takes a few tries to start liking a new vegetable. Our schedule has you trying each new fruit and veggie three different ways. Don't worry if you miss a week! This schedule is just a guide, and you know what's right for your family.</p>
    <p><%= link_to 'Learn more about how to use the Joyful 12! Watch orientation  >', page_path('orientation') %></p>
  </div>
  <!-- Table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Monday (easy)</th>
      <th>Wednesday (medium)</th>
      <th>Sunday (adventurous)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-squash.png', width: 80, class: 'wiggle'), food_path('summer-squash') %></td>
      <th>June 30 - July 6: Summer Squash and Berries</th>
      <td><a href="https://www.joyful12.com/classroom/summer-squash/#steamed_squash_baked_potato">Steamed Squash “Baked Potato”</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-squash/#stuffed_squash_tacos">Stuffed Squash Tacos</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-squash/#greek_summer_zucchini_fritters">Greek Summer Zucchini Fritters</a> <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-berry/#blueberry_peach_crumble">Blueberry Peach Crumble</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-green-bean.png', width: 80, class: 'wiggle'), food_path('summer-green-beans') %></td>
      <th>July 7 - July 13: Green Beans and Stone Fruit</th>
      <td><a href="https://www.joyful12.com/classroom/summer-green-beans/#japanese_roasted_green_beans">Japanese Roasted Green Beans</a> </td>
      <td><a href="https://www.joyful12.com/classroom/summer-green-beans/#crunchy_green_beans_sauteed_in_thyme_honey_butter">Crunchy Green Beans Sauteed in Thyme Honey Butter</a> </td>
      <td><a href="https://www.joyful12.com/classroom/summer-green-beans/#nutty_noodles_with_crispy_green_beans">Nutty Noodles with Crispy Green Beans</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-stone-fruit/#cherry_lemon_yogurt_cake_with_fresh_cherries">Cherry Lemon Yogurt Cake with Fresh Cherries</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-okra.png', width: 80, class: 'wiggle'), food_path('summer-okra') %></td>
      <th>July 14 - July 20: Okra and Berries</th>
      <td><a href="https://www.joyful12.com/classroom/summer-okra/#cornmeal_crusted_sauteed_okra">Cornmeal Crusted Sauteed Okra</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-okra/#roasted_okra_with_a_sweet_n_tangy_red_pepper_relish">Roasted Okra with a Sweet n Tangy Red Pepper Relish</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-okra/#southern_style_okra_corn_muffins">Southern Style Okra Corn Muffins</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-berry/#blackberry_clafoutis">Blackberry Clafoutis</a>
      </td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-tomato.png', width: 80, class: 'wiggle'), food_path('summer-tomato') %></td>
      <th>July 21 - July 27: Tomatoes and Stone Fruit</th>
      <td><a href="https://www.joyful12.com/classroom/summer-tomato/#sun_kissed_salsa_with_homemade_tortilla_chips">Sun Kissed Salsa with Homemade Tortilla Chips</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-tomato/#kaleidoscope_tomato_pasta_salad">Kaleidoscope Tomato Pasta Salad</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-tomato/#heirloom_tomato_and_sweet_onion_quiche">Heirloom Tomato and Sweet Onion Quiche</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-stone-fruit/#maple_grilled_peaches_with_toasted_coconut">Maple Grilled Peaches with Toasted Coconut</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-corn.png', width: 80, class: 'wiggle'), food_path('summer-corn') %></td>
      <th>July 28 - August 3: Corn and Melons</th>
      <td><a href="https://www.joyful12.com/classroom/summer-corn/#quick_corn_saute_in_basil_butter">Quick Corn Saute in Basil Butter</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-corn/#corn_and_tomato_quinoa_salad_in_a_lime_basil_vinaigrette">Corn and Tomato Quinoa Salad in a Lime Basil Vinaigrette</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-corn/#around_the_world_corn_on_the_cob">Around the World Corn on the Cob</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-melon/#watermelon_strawberry_ice_cream_floats">Watermelon Strawberry Ice Cream Floats</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-bell-pepper.png', width: 80, class: 'wiggle'), food_path('summer-pepper') %></td>
      <th>August 4 - August 10: Bell Pepper and Melon </th>
      <td><a href="https://www.joyful12.com/classroom/summer-pepper/#pimento_cheese_dip_with_bell_pepper_dippers">Pimento Cheese Dip with Bell Pepper Dippers</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-pepper/#veggie_lasagna_stuffed_bell_peppers">Veggie Lasagna Stuffed Bell Peppers</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-pepper/#rainbow_of_peppers_onigiri">Rainbow of Peppers Onigiri</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-melon/#green_dream_honey_dew_fruit_salad">Green Dream Honeydew Fruit Salad</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-eggplant.png', width: 80, class: 'wiggle'), food_path('summer-eggplant') %></td>
      <th>August 11 - August 17: Eggplant and Stone Fruit</th>
      <td><a href="https://www.joyful12.com/classroom/summer-eggplant/#sweet_n_spicy_eggplant_tomato_penne">Sweet n Spicy Eggplant Tomato Penne</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-eggplant/#sunshine_eggplant_pizza">Sunshine Eggplant Pizza</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-eggplant/#better_than_takeout_eggplant_fried_rice">Better than Takeout Eggplant Fried Rice</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-stone-fruit/#nectarine_mango_lassi">Nectarine Mango Lassi</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-tomatillo.png', width: 80, class: 'wiggle'), food_path('summer-tomatillo') %></td>
      <th>August 18 - August 24: Tomatillos and Berries</th>
      <td><a href="https://www.joyful12.com/classroom/summer-tomatillo/#bright_and_shiny_tomatillo_guacamole">Bright and Shiny Tomatillo Guacamole</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-tomatillo/#terrific_tomatillo_and_corn_potato_salad">Terrific Tomatillo and Corn Potato Salad</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-tomatillo/#tomatillo_white_bean_chili">Tomatillo White Bean Chili</a> <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-berry/#raspberry_cream_popsicles">Raspberry Cream Popsicles</a></td>
    </tr>
    <tr>
      <td><%= link_to image_tag('nav-food-images/summer-greens.png', width: 80, class: 'wiggle'), food_path('summer-greens') %></td>
      <th>August 25 - August 31: Summer Greens and Melon</th>
      <td><a href="https://www.joyful12.com/classroom/summer-greens/#summer_salad_greens_with_carrot_curls_and_avocado_ranch_dressing">Summer Salad with Carrot Curls and Sweet Avocado Ranch Dressing</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-greens/#collard_green_pesto_veggie_pizza">Collard Green Pesto Veggie Pizza</a></td>
      <td><a href="https://www.joyful12.com/classroom/summer-greens/#rainbow_chard_summer_rolls">Rainbow Chard Vietnamese Summer Rolls</a>
        <br />Dessert: <a href="https://www.joyful12.com/classroom/summer-melon/#vanilla_honey_cantaloupe_panna_cotta">Vanilla Honey Cantaloupe Panna Cotta</a></td>
    </tr>
    </tbody>
  </table>
</div>




