<p><a href="http://d3uroln2zt6ogz.cloudfront.net/pages/pdfs/original/5fd43ee326c6488dea92ce5c5083c1e147157de9.pdf?1417459793" class="btn btn-primary" role="button">printable version of the schedule</a></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">The Joyful 12 Winter Recommended Schedule</div>
  <div class="panel-body">
    <p>Sometimes it takes a few tries to start liking a new vegetable. Our schedule has you trying each new fruit and veggie three different ways. Don't worry if you miss a week! This schedule is just a guide, and you know what's right for your family.</p>
    <p><%= link_to 'Learn more about how to use the Joyful 12! Watch orientation  >', page_path('orientation') %></p>
  </div>
  <!-- Table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Monday (easy)</th>
      <th>Wednesday (medium)</th>
      <th>Sunday (adventurous)</th>
    </tr>
    </thead>
    <tbody>

<tr> 
<td><%= link_to image_tag('nav-food-images/winter-squash.png', width: 80, class: 'wiggle'), food_path('winter-squash') %></td>
      <th>Winter Squash and Pomegranate</th>
      <td><a href='https://www.joyful12.com/classroom/winter-squash/#roasted_delicata_squash_boats_with_crunchy_pumpkin_seeds'>Roasted Delicata Squash Boats with Crunchy Pumpkin Seeds</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-squash/#winter_squash_mozzarella_quesadilla'>Winter Squash Mozzarella Quesadilla</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-squash/#butternut_squash_pasta_in_a__brown_butter_sage_sauce'>Butternut Squash Pasta in a  Brown Butter Sage Sauce</a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-pomegranate/#pomegranate_chocolate_mousse'>Pomegranate Chocolate Mousse</a></td>
</tr>
<tr> 
<td><%= link_to image_tag('nav-food-images/winter-beets.png', width: 80, class: 'wiggle'), food_path('winter-beets') %></td>
      <th>Beets and Pears</th>
      <td><a href='https://www.joyful12.com/classroom/winter-beets/#can_t_beet_a_pink_smoothie'>Can't Beet a Pink Smoothie</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-beets/#roasted_beet_and_sweet_potato_fries_with_ranch_dipping_sauce'>Roasted Beet and Sweet Potato Fries with Ranch Dipping Sauce</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-beets/#beet_and_carrot_latkes'>Beet and Carrot Latkes</a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-pears/#buttery_baked_pears_drizzled_with_honey_cinnamon_yogurt'>Buttery Baked Pears Drizzled with Honey Cinnamon Yogurt</a></td>
</tr>
<tr> 
<td><%= link_to image_tag('nav-food-images/winter-brussels-sprout.png', width: 80, class: 'wiggle'), food_path('winter-brussels-sprout') %></td>
      <th>Brussels Sprouts and Citrus</th>
      <td><a href='https://www.joyful12.com/classroom/winter-brussels-sprout/#crunchy_and_sweet_honey_mustard_brussels_sprout_salad'>Crunchy and Sweet Honey Mustard Brussels Sprout Salad</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-brussels-sprout/#heavenly_baked_brussels_sprouts_dip'>Heavenly Baked Brussels Sprouts Dip</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-brussels-sprout/#savory_roasted_brussels_sprouts_with_apple_and_pomegranate'>Savory Roasted Brussels Sprouts with Apple and Pomegranate</a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-citrus/#dreamy_whipped_orange_fools'>Dreamy Whipped Orange Fools</a></td>
</tr>
<tr> 
<td><%= link_to image_tag('nav-food-images/winter-greens.png', width: 80, class: 'wiggle'), food_path('winter-greens') %></td>
      <th>Greens and Pomegranate</th>
      <td><a href='https://www.joyful12.com/classroom/winter-greens/#can_t_eat_just_one_crisp_kale_chips'>Can't Eat Just One Crisp Kale Chips</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-greens/#dreamy_greenie_quesadilla'>Dreamy Greenie Quesadilla</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-greens/#creamy_mac___cheese___more_veggies_please_'>Creamy Mac & Cheese - More Veggies Please!</a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-pomegranate/#spiced_pumpkin_and_pomegranate_chia_pudding'>Spiced Pumpkin and Pomegranate Chia Pudding</a></td>
</tr>
<tr> 
<td><%= link_to image_tag('nav-food-images/winter-kohlrabi.png', width: 80, class: 'wiggle'), food_path('winter-kohlrabi') %></td>
      <th>Kohlrabi and Pears</th>
      <td><a href='https://www.joyful12.com/classroom/winter-kohlrabi/#crunchy_kohlrabi_dippers_with_sun_dried_tomato_hummus'>Crunchy Kohlrabi Dippers with Sun Dried Tomato Hummus</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-kohlrabi/#cheesy_creamy_kohlrabi_fennel_gratin'>Cheesy Creamy Kohlrabi Fennel Gratin</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-kohlrabi/#sweet_treat_to_eat_kohlrabi_and_sweet_potato_fried_rice'>Sweet Treat To Eat Kohlrabi and Sweet Potato Fried Rice</a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-pears/#playfully_purple_poached_pears'>Playfully Purple Poached Pears</a></td>
</tr>
<tr> 
<td><%= link_to image_tag('nav-food-images/winter-parsnips.png', width: 80, class: 'wiggle'), food_path('winter-parsnips') %></td>
      <th>Parsnips and Citrus</th>
      <td><a href='https://www.joyful12.com/classroom/winter-parsnips/#sesame_roasted_parsnips_and_sweet_potatoes'>Sesame Roasted Parsnips and Sweet Potatoes</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-parsnips/#perfect_parsnip_white_pizza_with_rosemary_garlic_goat_cheese'>Perfect Parsnip White Pizza with Rosemary Garlic Goat Cheese</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-parsnips/#curry_parsnip_soup_with_crunchy_parsnip_chips_'>Curry Parsnip Soup with Crunchy Parsnip Chips </a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-citrus/#baked_grapefruit_with_a_cinnamon_crumble'>Baked Grapefruit with a Cinnamon Crumble</a></td>
</tr>
<tr> 
<td><%= link_to image_tag('nav-food-images/winter-cabbage.png', width: 80, class: 'wiggle'), food_path('winter-cabbage') %></td>
      <th>Cabbage and Pomegranate</th>
      <td><a href='https://www.joyful12.com/classroom/winter-cabbage/#purple_cabbage_cups_stuffed_with_sweet_pear_pomegranate_salsa'>Purple Cabbage Cups Stuffed with Sweet Pear Pomegranate Salsa</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-cabbage/#ginger_sesame_savoy_cabbage_stir_fried_noodles'>Ginger Sesame Savoy Cabbage Stir Fried Noodles</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-cabbage/#seriously_savory_bok_choy_potato_quiche'>Seriously Savory Bok Choy Potato Quiche</a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-pomegranate/#pomegranate_sweet_potato_cupcakes'>Pomegranate Sweet Potato Cupcakes</a></td>
</tr>
<tr> 
<td><%= link_to image_tag('nav-food-images/winter-sweet-potato.png', width: 80, class: 'wiggle'), food_path('winter-sweet-potato') %></td>
      <th>Sweet Potato and Pears</th>
      <td><a href='https://www.joyful12.com/classroom/winter-sweet-potato/#sweet_potato_hummus'>Sweet Potato Hummus</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-sweet-potato/#sweet_potato_fast_mash'>Sweet Potato Fast Mash</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-sweet-potato/#sweet_potato_pancakes'>Sweet Potato Pancakes</a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-pears/#moist_and_nutty_pear_spice_cake'>Moist and Nutty Pear Spice Cake</a></td>
</tr>
<tr> 
<td><%= link_to image_tag('nav-food-images/winter-turnips.png', width: 80, class: 'wiggle'), food_path('winter-turnips') %></td>
      <th>Turnips and Citrus</th>
      <td><a href='https://www.joyful12.com/classroom/winter-turnips/#parmesan_rosemary_roasted_turnips'>Parmesan Rosemary Roasted Turnips</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-turnips/#maple_n_goat_cheese_mashed_turnips_and_acorn_squash'>Maple-n-Goat Cheese Mashed Turnips and Acorn Squash</a></td>
      <td><a href='https://www.joyful12.com/classroom/winter-turnips/#sweet_n_savory_caramelized_onion_stuffed_turnips'>Sweet-n-Savory Caramelized Onion Stuffed Turnips</a>
      <br />
      Dessert: <a href='https://www.joyful12.com/classroom/winter-citrus/#lemon_yogurt_olive_oil_cake'>Lemon Yogurt Olive Oil Cake</a></td>
</tr>
      


    </tbody>
  </table>
</div>




