<!-- Recipe tab nav -->
<ul class="nav nav-tabs">
  <% @food.recipes.reject{ |recipe| @child_recipes.include?(recipe) }.sort_by(&:sort_order).each_with_index do |recipe, i| %>
      <li class="<%= 'active' if i == 0 %>">
        <a id='<%= recipe.title.parameterize.underscore %>' class='js-tab-link' href="#<%= recipe.difficulty %>-<%= recipe.id %>" data-toggle="tab">
          <%= recipe.difficulty.titleize %>
        </a>
      </li>
  <% end %>
</ul>

<!-- Recipe tab panes -->
<div class="tab-content panel panel-default panel-no-top">
  <% @food.recipes.reject{ |recipe| @child_recipes.include?(recipe) }.sort_by(&:sort_order).each_with_index do |recipe, i| %>
    <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= recipe.difficulty %>-<%= recipe.id %>">
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-8 col-sm-7'>
            <% if recipe.images.first %>
              <a href="#" class="thumbnail thumbnail-border-sharp" data-toggle="modal" data-target="#modal-<%= recipe.slug('-') %>"
                 data-gallery-index="0">
                <%= image_tag recipe.images.first.file.url(:thumbnail), class: 'img-responsive' %>
              </a>
              <i class="thumbnail-help-block">Click on images to view gallery</i>
            <% end %>
          </div>
          <div class='col-md-4'>
            <h4 class="media-heading"><%= recipe.title %></h4>
            <h5><%= recipe.subtitle %></h5>
            <p>Serving size: <%= recipe.serving_size %></p>
            <p>Prep time: <%= recipe.prep_time %></p>
            <p>Cooking time: <%= recipe.cook_time %></p>
            <p>
              <% recipe.dietary_categories.each do |dietary_category| %>
                <%= image_tag dietary_category.icon.url, alt: dietary_category.name, title: dietary_category.name,
                              class: 'right-padding-small bottom-padding-small' %>
              <% end %>
            </p>
            <p>
              <%= content_tag :div, data: { shopping_list_submit: true } do %>
                <p>
                  <%= button_to 'Add to shopping list', { action: :create, controller: :shopping_lists, shopping_list: {
                                                          recipe_ids: [recipe.id] }}, remote: true,
                                                          data: { disable_with: 'Adding...'}, class: 'btn btn-primary' %>
                </p>
                <%= link_to 'Print me!', food_recipe_print_view_path(@food, recipe), class: "btn btn-info"  %>
              <% end %>
            </p>
            <p class=""><%= link_to 'view class schedule >', class_schedule_path %></p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-5'>
            <h3>Ingredients</h3>
            <ul>
              <% recipe.ingredient_list_items.sort_by(&:sort_order).each do |ingredient_list_item| %>
                  <li><%= ingredient_list_item.ingredient.name %>, <%= ingredient_list_item.quantity %></li>
              <% end %>
            </ul>
            <% if recipe.child_recipes.present? %>
              <% recipe.child_recipes.each do |child_recipe| %>
                <h5><%= child_recipe.title %></h5>
                <ul>
                <% child_recipe.ingredient_list_items.sort_by(&:sort_order).each do |child_ingredient_list_item| %>
                  <li><%= child_ingredient_list_item.ingredient.name %>, <%= child_ingredient_list_item.quantity %></li>
                <% end %>
                </ul>
              <% end %>
            <% end %>
            <h3>Directions</h3>
            <%= markdown recipe.instructions %>
          </div>
          <div class='col-md-7 col-md-offset-0 col-sm-8 col-sm-offset-2'>
            <% recipe.images.drop(1).each_with_index do |image, gallery_index| %>
              <a href="#" class="thumbnail thumbnail-border-sharp" data-toggle="modal" data-target="#modal-<%= recipe.slug('-') %>"
                 data-gallery-index="<%= gallery_index + 1 %>">
                <%= image_tag image.file.url(:thumbnail), class: 'img-responsive' %>
              </a>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr/>
            <h3 class="text-center">Get your kids to love <%= recipe.title %></h3>
            <%= recipe.tips.try(:html_safe) %>
          </div>
        </div>
      </div>
      <%= render 'comment_box', food: @food, recipe: recipe if @season.name != 'Summer' %>
    </div>
    <%= render 'recipe_image_gallery', recipe: recipe %>
  <% end %>
</div>
