<!-- Recipe tab nav -->
<ul class="nav nav-tabs">
  <% @food.recipes.sort_by(&:sort_order).each_with_index do |recipe, i| %>
      <li class="<%= 'active' if i == 0 %>">
        <a href="#<%= recipe.difficulty %>" data-toggle="tab"><%= recipe.difficulty.titleize %></a>
      </li>
  <% end %>
</ul>

<!-- Recipe tab panes -->
<div class="tab-content panel panel-default panel-no-top">
  <% @food.recipes.sort_by(&:sort_order).each_with_index do |recipe, i| %>
    <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= recipe.difficulty %>">
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-8'>
            <% if recipe.images.first %>
              <a href="#" class="thumbnail thumbnail-border-sharp" data-toggle="modal" data-target="#modal-<%= recipe.slug('-') %>"
                 data-gallery-index="0">
                <%= image_tag recipe.images.first.file.url(:thumbnail), class: 'img-responsive' %>
              </a>
              <i class="thumbnail-help-block">Click on images to view gallery</i>
            <% end %>
          </div>
          <div class='col-md-4'>
            <h4 class="media-heading"><%= recipe.title %></h4>
            <h5><%= recipe.subtitle %></h5>
            <p>Prep time: <%= recipe.prep_time %></p>
            <p>Cooking time: <%= recipe.cook_time %></p>
            <p>
              <% recipe.dietary_categories.each do |dietary_category| %>
                <%= image_tag dietary_category.icon.url, alt: dietary_category.name, title: dietary_category.name, class: 'right-padding-small bottom-padding-small' %>
              <% end %>
            </p>
            <p>
              <%= button_to 'Add to shopping list', { action: :create, controller: :shopping_lists, shopping_list: {
                      recipe_ids: [recipe.id] }}, class: 'btn btn-primary' %>
            </p>
            <p class=""><%= link_to 'view sample class schedule >', class_schedule_path %></p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-5'>
            <h3>Ingredients:</h3>
            <ul>
              <% recipe.ingredient_list_items.sort_by(&:sort_order).each do |ingredient_list_item| %>
                  <li><%= ingredient_list_item.ingredient.name %>, <%= ingredient_list_item.quantity %></li>
              <% end %>
            </ul>
            <%= markdown recipe.instructions %>
          </div>
          <div class='col-md-7'>
            <% recipe.images.drop(1).each_with_index do |image, gallery_index| %>
              <a href="#" class="thumbnail thumbnail-border-sharp" data-toggle="modal" data-target="#modal-<%= recipe.slug('-') %>"
                 data-gallery-index="<%= gallery_index + 1 %>">
                <%= image_tag image.file.url(:thumbnail), class: 'img-responsive' %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'recipe_image_gallery', recipe: recipe %>
  <% end %>
</div>
