<div class="food-page">
  <nav>
    <ul class="nav row">
      <% ((12 - @foods.length) / 2).times do %>
          <li class="col-md-1"></li>
      <% end %>
      <% @foods.sort_by(&:sort_order).each do |food| %>
        <li class='col-md-1 col-xs-6'>
          <%= link_to food_path(food), class: 'image-text-link text-center' do %>
            <%= image_tag "nav-food-images/#{food.slug}.png", width: 68, height: 101, class: 'img-responsive wiggle' %>
            <span class="text"><%= food.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="spacer"></div>

  <div class="row">

    <div class="col-md-4">
      <%= image_tag "food-images/#{@food.slug}-main.png", alt: @food.name, class: 'img-responsive' %>

      <h1 class="text-center header-blue"><%= @food.name %></h1>

      <% @food.video_links.each do |video_link| %>
          <div class="bottom-buffer">
            <%= content_tag(:iframe, '', width: '100%', height: 250, frameborder: 0, allowfullscreen: true,
                            src: "//www.youtube.com/embed/#{video_link.provider_id}?rel=0") %>
          </div>
      <% end %>
    </div>

    <aside class="col-md-8">

      <%= render 'recipes' %>

    </aside>
  </div>

</div>