<div class="food-page">
  <nav>
    <ul class="nav row">
      <% @foods.each do |food| %>
          <a href="<%= food_path(food) %>">
          <li class='col-lg-1 col-md-3 col-md-3 col-xs-6'>
            <%= image_tag "nav-food-images/#{food.slug}.png", class: 'img-responsive' %>
          </li>
          </a>
      <% end %>
    </ul>
  </nav>

  <div class="row">

    <div class="col-md-4">
      <h2><%= image_tag "food-images/#{@food.slug}-title.png", alt: @food.name %></h2>
      <%= image_tag "food-images/#{@food.slug}.jpg", class: 'main-food-image' %>

      <div class='fun-facts top-buffer bottom-buffer'>
        <h4>Did you know?</h4>
        <p class='fun-fact' data-fun-fact='1'>
          Cauliflower is a good
          source of vitamin C which
          will help keep you healthy.
        </p>

        <p class='fun-fact' data-fun-fact='2' style="display: none;">
          Cauliflower is actually a
          flower that hasn't fully
          developed yet.
        </p>

        <p class='fun-fact' data-fun-fact='3' style="display: none;">
          Green cauliflower is
          produced when you cross
          cauliflower with broccoli
        </p>

        <p class='fun-fact' data-fun-fact='4' style="display: none;">
          There's a purple variety of cauliflower! It gets its color from the antioxidant group anthocyanins.
        </p>

        <p class='fun-fact' data-fun-fact='5' style="display: none;">
          Cauliflower is in the same vegetable family as
          cabbage, brussels sprouts, kale, broccoli
          and collard greens.
        </p>
      </div>

      <div class='food-resource-links top-buffer'>
        <p><%= link_to 'How to Cook Cauliflower'%></p>
        <hr />
        <p><%= link_to 'Fun Facts About Cauliflower'%></p>
        <hr />
        <p><%= link_to 'Why Should I Eat Cauliflower?' %></p>
        <hr />
        <p><%= link_to 'Parent Resources' %></p>
        <hr />
        <p><%= link_to 'Community Page' %></p>
        <hr />
      </div>
    </div>

    <aside class="col-md-7 col-md-offset-1">

      <h3>Joyful 12 Coooking methods:</h3>
      <ul class="nav nav-tabs cooking-method-nav">
      <% @food.cooking_methods.each_with_index do |cooking_method, i| %>
        <li data-cooking-method='<%= i + 1 %>' class='<%= 'active' if i == 0 %>'>
          <a href="#"><%= cooking_method.name %></a>
        </li>
      <% end %>
      </ul>
      <div class='boxed-content bottom-buffer'>
        <% @food.cooking_methods.each_with_index do |cooking_method, i| %>
          <div class="cooking-method-instructions" data-cooking-method='<%= i + 1 %>'
               style="<%= 'display: none' unless i == 0 %>">
            <%= cooking_method.instructions.html_safe %>
          </div>
        <% end %>
      </div>

      <%= image_tag 'food-images/cauliflower-videos.png', class: 'food-videos img-responsive bottom-buffer' %>

      <h3>Other great <%= @food.name.downcase %> recipes from around the web:</h3>
      Filter by Allergy
      <%= form_tag '',  method: :get do  %>
        <%= select_tag 'allergy', options_for_select(Yummly::ALLOWED_ALLERGIES), include_blank: true %>
        <%= submit_tag 'Filter' %>
      <% end %>
      <% Yummly.search(@food.name, { allergy: params[:allergy] }).first(5).each do |search_result| %>
        <div class='row recipe'>
          <hr />
          <div class='col-md-4'>
            <%= link_to (image_tag search_result.image, width: 200), recipe_redirect_path(search_result.id) %>
          </div>

          <div class='col-md-8'>
            <h4><%= search_result.recipe_name %></h4>
            <p>From: <%= link_to search_result.source_name, recipe_redirect_path(search_result.id) %></p>
          </div>
        </div>
      <% end %>
    </aside>
  </div>

</div>