<div class="food-page">
  <nav>
    <ul class="nav">
      <% @foods.each do |food| %>
          <%= link_to food.name, food_path(food) %>
      <% end %>
    </ul>
  </nav>

  <div class="row">
    <div class="col-md-6">
      <h2>Food: <%= @food.name %></h2>
      <%= image_tag "food-images/#{@food.slug}.jpg" %>
    </div>

    <aside class="col-md-6 fun-facts">
      <h3>Other recipes:</h3>
      Filter by Allergy
      <%= form_tag '',  method: :get do  %>
        <%= select_tag 'allergy', options_for_select(Yummly::ALLOWED_ALLERGIES), include_blank: true %>
        <%= submit_tag 'Filter' %>
      <% end %>
      <% Yummly.search(@food.name, { allergy: params[:allergy] }).first(5).each do |search_result| %>
        <div class='row recipe'>
          <hr />
          <div class='col-md-2'>
            <%= link_to (image_tag search_result.image), recipe_redirect_path(search_result.id) %>
          </div>

          <div class='col-md-10'>
            <h4><%= search_result.recipe_name %></h4>
          </div>

          <div class='col-md-12'>
            <p>From: <%= link_to search_result.source_name, recipe_redirect_path(search_result.id) %></p>
          </div>
        </div>
      <% end %>
    </aside>
  </div>


  <div class="row">
    <% @food.cooking_methods.each do |cooking_method| %>
      <div class="col-md-4">
        <%= cooking_method.name %>
      </div>
    <% end %>
  </div>

  <% @food.cooking_methods.each do |cooking_method| %>
    <div style='display:none;'>
      <h4><%= cooking_method.name %></h4>
      <p><%= cooking_method.description %></p>
    </div>
  <% end %>

</div>