<div class="food-page">
  <nav>
    <ul class="nav row">
      <% @foods.each do |food| %>
          <a href="<%= food_path(food) %>">
          <li class='col-md-1'>
            <%= image_tag "nav-food-images/#{food.slug}.png" %>
          </li>
          </a>
      <% end %>
    </ul>
  </nav>

  <div class="row">

    <div class="col-md-6">
      <h2>Food: <%= @food.name %></h2>
      <%= image_tag "food-images/#{@food.slug}.jpg" %>
    </div>

    <aside class="col-md-6">

      <ul class="nav nav-tabs">
      <% @food.cooking_methods.each_with_index do |cooking_method, i| %>
        <li class='<%= 'active' if i == 0 %>'><a href="#"><%= cooking_method.name %></a></li>
      <% end %>
      </ul>
      <% @food.cooking_methods.each_with_index do |cooking_method, i| %>
        <p style="<%= 'display: none' unless i == 0 %>">
          <%= cooking_method.description %><br /><br />
        </p>
      <% end %>

      <h3>Great recipes from around the web:</h3>
      Filter by Allergy
      <%= form_tag '',  method: :get do  %>
        <%= select_tag 'allergy', options_for_select(Yummly::ALLOWED_ALLERGIES), include_blank: true %>
        <%= submit_tag 'Filter' %>
      <% end %>
      <% Yummly.search(@food.name, { allergy: params[:allergy] }).first(5).each do |search_result| %>
        <div class='row recipe'>
          <hr />
          <div class='col-md-2'>
            <%= link_to (image_tag search_result.image), recipe_redirect_path(search_result.id) %>
          </div>

          <div class='col-md-10'>
            <h4><%= search_result.recipe_name %></h4>
          </div>

          <div class='col-md-12'>
            <p>From: <%= link_to search_result.source_name, recipe_redirect_path(search_result.id) %></p>
          </div>
        </div>
      <% end %>
    </aside>
  </div>

</div>