<div class="food-page">
  <nav class="navbar navbar-default navbar-raised text-center hidden-lg hidden-md" role="navigation">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href='#' class='dropdown-toggle general-padding-small' data-toggle='dropdown'>
          Current Food: <%= @food.name %> <b class='caret'></b>
        </a>
        <ul class="dropdown-menu">
          <% @foods.sort_by(&:sort_order).each do |food| %>
            <li class="<%= 'active' if food == @food %>"><%= link_to food.name, food_path(food) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="hidden-sm hidden-xs">
    <ul class="nav row">
      <% ((12 - @foods.length) / 2).times do %>
          <li class="col-md-1"></li>
      <% end %>
      <% @foods.sort_by(&:sort_order).each do |food| %>
        <li class='col-md-1'>
          <%= link_to food_path(food), class: 'image-text-link text-center' do %>
            <%= image_tag "nav-food-images/#{food.slug}.png", width: 68, height: 101, class: 'img-responsive wiggle' %>
            <span class="text"><%= food.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="spacer"></div>

  <div class="row">

    <div class="col-md-4">
      <%= image_tag "food-images/#{@food.slug}-main.png", alt: @food.name, class: 'img-responsive' %>

      <h1 class="text-center header-blue"><%= @food.name %></h1>

      <% @food.video_links.each do |video_link| %>
          <div class="bottom-buffer">
            <%= content_tag(:iframe, '', width: '100%', height: 202, frameborder: 0, webkitallowfullscreen: true,
                            mozallowfullscreen: true, allowfullscreen: true,
                            src: "///player.vimeo.com/video/#{video_link.provider_id}?title=0&amp;byline=0&amp;portrait=0") %>
          </div>
      <% end %>

      <%= @food.tips.try(:html_safe) %>
      <div class="panel panel-default col-md-6 col-md-offset-3">
        <table class="table">
          <tbody>
          <tr>
            <th class="text-center">Dietary Key</th>
          </tr>
          <tr>
            <td><img src="http://d3uroln2zt6ogz.cloudfront.net/pages/dietary_categories/original/786fb3f04dfadcfffcc3b6d415ba72fedeacc5c0.png?1393306039" />   Gluten Free</td>
          </tr>
          <tr>
            <td><img src="http://d3uroln2zt6ogz.cloudfront.net/pages/dietary_categories/original/77460a4d50706152a6e7f9e303ccc1cf779a7c5a.png?1393306077" />   Dairy Free</td>
          </tr>
          <tr>
            <td><img src="http://d3uroln2zt6ogz.cloudfront.net/pages/dietary_categories/original/30147577a7a17a058a86862fbe14474d9a77e84b.png?1393306101" />   Nut Free</td>
          </tr>
          <tr>
            <td><img src="http://d3uroln2zt6ogz.cloudfront.net/pages/dietary_categories/original/75ffd1042a2469986d8fe7bd945f830a7077435c.png?1393306115" />   Egg Free</td>
          </tr>
          <tr>
            <td><img src="http://d3uroln2zt6ogz.cloudfront.net/pages/dietary_categories/original/6dbf0a0d52496194a23bcdc0aee551061c139993.png?1393306128" />   Vegan</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <aside class="col-md-8">

      <%= render 'recipes' %>

    </aside>

    <aside class="col-md-offset-4 col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">

            <%= comments_sso_script_for(current_user) %>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'joyful12';

                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the
              <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>

          </div>
        </div>
    </aside>
  </div>

</div>
