<div class='row'>
  <div class="col-md-12"><h1>Your Weekly Shopping List</h1></div>
</div>


<div class='row bg-grey bottom-padding top-padding top-buffer'>
  <div class="col-md-4">
    <h3>Create Your Own List:</h3>
    <%= form_tag shopping_lists_path, role: 'form' do %>
        <div class='form-group'>
        <%= content_tag :select, name: 'shopping_list[recipe_ids][]', class: 'form-control' do %>
            <%= content_tag :option %>
            <%= option_groups_from_collection_for_select(@season.foods.includes(:recipes), :recipes, :name, :id, :title) %>
        <% end %>
      </div>
      <%= submit_tag 'Add Recipe', class: 'btn btn-primary', name: nil %>
    <% end %>

    <div class='top-buffer'>
      <%= simple_form_for @shopping_list, html: { role: 'form' } do |f| %>
          <div class='form-group'>
            <%= f.label :name, 'Shopping list name' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <h3>You've selected these recipes:</h3>
            <% @shopping_list.recipes.each do |recipe| %>
              <%= f.label :recipe_ids, value: recipe.id, class: "checkbox #{'text-blue' if recipe.optional?}" do %>
                <%= check_box_tag 'shopping_list[recipe_ids][]', recipe.id, true, id: "shopping_list_recipe_ids_#{recipe.id}" %>
                <%= '(OPTIONAL) ' if recipe.optional? %><%= recipe.title %>
              <% end %>
              <%= f.hidden_field :recipe_ids, name: 'shopping_list[recipe_ids][]', value: nil %>
            <% end %>

            <%#= f.association :recipes, collection: @shopping_list.recipes, as: :check_boxes, label: false %>

          </div>
          <%= f.button :submit, 'Save and continue editing', class: 'btn-default' %>
          <%= f.button :submit, 'Save and archive', name: 'archive', class: 'btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="col-md-8">
    <div class='form-group'>
      <div class="panel panel-info bottom-buffer top-buffer">
        <div class="panel-heading">
          <h2 class="panel-title text-center">Your Shopping List</h2>
        </div>
        <div class="panel-body">
          <% @shopping_list.ingredient_list_items.group_by{|ili| ili.ingredient.category }.each do |category, ingredient_list_items| %>
            <div class="col-md-4">
              <h3><%= category %></h3>
              <% ingredient_list_items.sort_by{|ili| ili.ingredient.name }.each do |ingredient_list_item| %>
                <p><%= ingredient_list_item.ingredient.name %>, <%= ingredient_list_item.quantity %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
