<div class='row'>
  <div class="col-md-12"><h1>Your Weekly Shopping List</h1></div>
</div>


<div class='row bg-grey bottom-padding top-padding top-buffer'>
  <div class="col-md-4">
    <h3>Select Recipes To Add:</h3>
    <%= simple_form_for @shopping_list, html: { role: 'form' } do |f| %>
        <div class='form-group'>
        <%= content_tag :select, name: 'shopping_list[new_recipe_ids][]', class: 'form-control', id: 'add_recipe_select' do %>
            <%= content_tag :option %>
            <%= option_groups_from_collection_for_select(@season.foods.includes(:recipes), :recipes, :name, :id, :title) %>
        <% end %>
      </div>
      <%= submit_tag 'Add Recipe', class: 'btn btn-primary', name: nil %>
    <% end %>

    <div class='top-buffer'>
      <%= simple_form_for @shopping_list, html: { role: 'form' } do |f| %>
          <div class='form-group'>
            <%= f.label :name, 'Shopping list name (edit)' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <h3>You've selected these recipes:</h3>
            <% @shopping_list.recipes.each do |recipe| %>
              <%= f.label :recipe_ids, value: recipe.id, class: "checkbox #{'text-blue' if recipe.optional?}" do %>
                <%= check_box_tag 'shopping_list[recipe_ids][]', recipe.id, true, id: "shopping_list_recipe_ids_#{recipe.id}" %>
                <%= recipe.title %>
              <% end %>
              <%= f.hidden_field :recipe_ids, name: 'shopping_list[recipe_ids][]', value: nil %>
            <% end %>

          </div>
          <%= f.button :submit, 'Save', class: 'btn-primary top-buffer' %>
          <%= f.button :submit, 'Archive', name: 'archive', class: 'btn-primary top-buffer' %>
          <%= link_to 'Print', shopping_list_path(@shopping_list), class: 'btn btn-primary top-buffer' %>
          <%= f.button :submit, 'Email', name: 'email', class: 'btn-primary top-buffer' %>
      <% end %>
      <div class="top-buffer"><%= link_to 'See past saved shopping lists >', "#{edit_user_path('me')}#shopping-lists" %></div>
    </div>
  </div>

  <div class="col-md-8">
    <div class='form-group'>
      <div class="panel panel-info bottom-buffer top-buffer">
        <div class="panel-heading">
          <h2 class="panel-title text-center">Current Shopping List: <%= @shopping_list.name %></h2>
        </div>
        <div class="panel-body">
          <div class="row">
          <% @shopping_list.ingredient_list_items.group_by{|ili| ili.ingredient.category }.each do |category, ingredient_list_items| %>
            <div class="col-md-4">
              <h3><%= category %></h3>
              <% ingredient_list_items.sort_by{|ili| ili.ingredient.name }.each do |ingredient_list_item| %>
                <p><%= ingredient_list_item.ingredient.name %>, <%= ingredient_list_item.quantity %></p>
              <% end %>
            </div>
          <% end %>
          </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <%= simple_form_for @shopping_list, html: { role: 'form' } do |f| %>
              <div class="form-group">
                <%= f.label :extra_list_items, 'Additional Groceries' %>
                <%= f.text_area :extra_list_items, class: 'form-control',
                                placeholder: 'Milk, cereal, bread, juice, fruit snacks, popsicles...', rows: 3 %>
              </div>
              <div class="form-group">
                <%= f.label :notes, 'Family Notes' %>
                <%= f.text_area :notes, class: 'form-control',
                                placeholder: "Look for sushi rolling mats, remember to get something for Michelle's lunchbox" ,
                                rows: 3 %>
              </div>
              <%= f.button :submit, 'Update', class: 'btn-default' %>

            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
