<% content_for :hide_nav, true %>
<% content_for :hide_footer, true %>

<img class="centered" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/0c74857a851f50cedb8c209ec99de9408d7a2737.png?1394066343" />
<div class="page-header">
  <h1><%= @shopping_list.name %></h1>
</div>
<div class="panel-body">
  <div class="row">
    <% @shopping_list.ingredient_list_items.group_by{|ili| ili.ingredient.category }.each do |category, ingredient_list_items| %>
        <div class="col-md-4">
          <h3><%= category %></h3>
          <% ingredient_list_items.sort_by{|ili| ili.ingredient.name }.each do |ingredient_list_item| %>
              <p><%= ingredient_list_item.ingredient.name %>, <%= ingredient_list_item.quantity %></p>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>

      <h3>Additional Groceries</h3>
      <% if @shopping_list.extra_list_items.present? %>
        <p><%= @shopping_list.extra_list_items %></p>
      <% else %>
        <p>No additional groceries</p>
      <% end %>

      <h3>Family Notes</h3>
      <% if @shopping_list.notes.present? %>
        <p><%= @shopping_list.notes %></p>
      <% else %>
        <p>No notes</p>
      <% end %>

    </div>
  </div>
</div>

<!-- all of the recipes for this list -->
<% @shopping_list.recipes.each do |recipe| %>
  <hr>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-12 text-center'>
	<h2 class="media-heading"><%= recipe.title %></h2>
	<h5><%= recipe.subtitle %></h5>
	<p>Serving size: <%= recipe.serving_size %></p>
	<p>Prep time: <%= recipe.prep_time %>, Cooking time: <%= recipe.cook_time %></p>
	<p>
          <% recipe.dietary_categories.each do |dietary_category| %>
            <%= image_tag dietary_category.icon.url, alt: dietary_category.name, title: dietary_category.name,
            class: 'right-padding-small bottom-padding-small' %>
          <% end %>
	</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'>
	<h3>Ingredients</h3>
	<ul>
          <% recipe.ingredient_list_items.sort_by(&:sort_order).each do |ingredient_list_item| %>
            <li><%= ingredient_list_item.ingredient.name %>, <%= ingredient_list_item.quantity %></li>
          <% end %>
	</ul>
	<% if recipe.child_recipes.present? %>
          <% recipe.child_recipes.each do |child_recipe| %>
            <h5><%= child_recipe.title %></h5>
            <ul>
              <% child_recipe.ingredient_list_items.sort_by(&:sort_order).each do |child_ingredient_list_item| %>
                <li><%= child_ingredient_list_item.ingredient.name %>, <%= child_ingredient_list_item.quantity %></li>
              <% end %>
            </ul>
          <% end %>
	<% end %>
      </div>
      <div class="col-md-9 col-md-offset-1">
	<h3>Directions</h3>
	<%= markdown recipe.instructions %>
      </div>
    </div>
  </div>
<% end %>

<hr>
<%= link_to 'Go back and edit shopping list', edit_shopping_list_path(@shopping_list), class: 'btn btn-primary top-buffer' %>

<div class="pull-right">print this list | joyful12.com</div>
