<% unless content_for?(:hide_footer) %>

<div class="row">
  <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12 xs-text-center">
    <h4>More Joy</h4>
    <ul class="list-unstyled">
      <li><%= link_to 'CLASSROOM', foods_path %></li>
      <li><%= link_to 'PARENT RESOURCES', parent_resources_path %></li>
      <li><%= link_to 'VIDEO LIBRARY', videos_path %></li>
      <li><%= link_to 'COMMUNITY FORUM', ENV['COMMUNITY_URL'] %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'MY PROFILE', "#{ENV['COMMUNITY_URL']}/users/#{current_user.username}" %></li>
      <% end %>
      <li><%= link_to 'SHOPPING LIST', edit_shopping_list_path('current') %></li>
      <li><%= link_to 'ORIENTATION', page_path('orientation') %></li>
      <li><%= link_to 'FAQs', page_path('faqs') %></li>
      <li><%= link_to 'CONTACT US', page_path('contact') %></li>
    </ul>
  </div>

  <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-12 text-center">
    <h4>Give us Feedback</h4>
    <p><%= link_to 'Feedback', form_path('feedback') %></p>
    <h4>JoyFoodly Blog</h4>
    <p><a href="http://www.joyfoodly.com/blog" target="_blanks">Recipes & Family Tips</a></p>
  </div>

  <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12 xs-text-center">
    <h4>Follow JoyFoodly</h4>
    <ul class="list-unstyled">
      <li>
        <img src="http://joyful12.s3.amazonaws.com/pages/media/original/fa5216333dcd839a9c645f4d97c69ad2fde6327b.png?1393200233">
        <%= link_to 'FACEBOOK', "http://www.facebook.com/joyfoodly" %>
      </li>
      <li>
        <img src="http://joyful12.s3.amazonaws.com/pages/media/original/b4421948d50e9684c75bcccc88d860adea9ab314.png?1393200209">
        <%= link_to 'TWITTER', "http://www.twitter.com/joyfoodly" %>
      </li>
      <li>
        <img src="http://joyful12.s3.amazonaws.com/pages/media/original/419751873707ba7608a789c4c4920d6ef24a67c1.png?1393200215">
        <%= link_to 'PINTEREST', "http://www.pinterest.com/joyfoodly" %>
      </li>
      <li>
        <img src="http://joyful12.s3.amazonaws.com/pages/media/original/f4cabb616268463e83f50993257195d188f2e0e4.png?1393200221">
        <%= link_to 'INSTAGRAM', "http://www.instagram.com/joyfoodly" %>
      </li>
      <li>
        <img src="http://joyful12.s3.amazonaws.com/pages/media/original/c16d5d398c4912cfbc343027ec4398e7eced7d4a.png?1393200227">
        <%= link_to 'GOOGLE+', "https://plus.google.com/+Joyfoodly" %>
      </li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <p>&copy; JoyFoodly, LLC <%= Date.current.year %></p>
    <p><%= link_to 'Privacy Policy', page_path('privacy') %> | <%= link_to 'Terms of Service', page_path('ToS') %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <p class="disclaimer">
      <em>The information on this website is designed for educational and entertainment purposes only. It is not intended to be a
        substitute for informed medical advice or care. You should not use the information found on this website to diagnose or
        treat any health problems or illnesses. Always seek the advice of a physician or other qualified healthcare providers
        (such as a pediatric dietitian) with any questions regarding a medical condition, nutritional issue or any eating/feeding
        problem.</em>
    </p>
  </div>
</div>

<% end %>
