  <li>
    <p>&copy; JoyFoodly <%= Date.current.year %></p>
  </li>
<!-- footer right -->


<div class="col-md-2 col-md-offset-2">
  <ul class="list-unstyled">
    <li><h4>More Joy</h4></li>
    <li><%= link_to 'Classroom', foods_path %></li>
    <li><%= link_to 'Parent Resources', parent_resources_path %></li>
    <li><%= link_to 'My Profile', edit_user_path('me') %></li>
    <li><%= link_to 'FAQs', edit_user_path('me') %></li>
    <li><%= link_to 'Privacy Policy', edit_user_path('me') %></li>
  </ul>
</div>