<ul class='nav nav-justified nav-tight nav-ho-hover'>
  <li>
    <p>&copy; JoyFoodly <%= Date.current.year %></p>
  </li>
<!-- footer right -->
<div class="col-md-6 col-md-offset-3"></div>
  <li class='align-top'>
  <ul class='nav nav-pills nav-justified nav-tight nav-ho-hover'>
    <li><%= link_to 'Classroom', foods_path %></li>
    <li><%= link_to 'Parent Resources', parent_resources_path %></li>
    <li><%= link_to 'My Profile', edit_user_path('me') %></li>
    <li><%= link_to 'FAQs', edit_user_path('me') %></li>
    <li><%= link_to 'Privacy Policy', edit_user_path('me') %></li>
  </ul>
</li>
</div>
</ul>

