<% unless content_for?(:hide_nav) %>
  <nav class="navbar navbar-default text-center" role="navigation">
    <!-- Nav left -->
    <ul class="nav navbar-nav navbar-left navbar-left-small">

      <li class="dropdown">
        <% if user_signed_in? %>
        <%= link_to "Hi, #{current_user.username}", "#{ENV['COMMUNITY_URL']}/login",
                    class: 'dropdown-toggle general-padding-small pull-left',
                    data: { toggle: 'dropdown' } if user_signed_in? %>
        <ul class="dropdown-menu">
          <li><%= link_to 'Community Profile', "#{ENV['COMMUNITY_URL']}/users/#{current_user.username}" %></li>
          <!--<li><%= link_to 'Messages', "#{ENV['COMMUNITY_URL']}/users/#{current_user.username}/private-messages" %></li>-->
          <!--<li><%= link_to 'Preferences', "#{ENV['COMMUNITY_URL']}/users/#{current_user.username}/preferences" %></li>-->
          <li><%= link_to 'My Shopping Lists', edit_user_path('me') %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path %></li>
        </ul>
        <% end %>
      </li>
    </ul>

    <div class="navbar-header navbar-header-centered-image">
      <!-- Brand -->
      <a href="/" class='navbar-brand'>
        <%= image_tag 'joyful12logo.png', class: 'img-responsive' %>
        <span class='sr-only'>The JoyFul 12!</span>
      </a>
    </div>

    <!-- Other links Collapse -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-right">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- Nav Right -->
    <div class="collapse navbar-collapse navbar-right navbar-right-small" id="navbar-right">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Classroom', foods_path %></li>
        <li><%= link_to 'Shopping List', edit_shopping_list_path('current') %></li>
        <li><%= link_to 'Parent Resources', parent_resources_path %></li>
        <li><%= link_to 'Video Library', videos_path %></li>
        <li><%= link_to 'Community Forum', ENV['COMMUNITY_URL'] %></li>
        <br />



          <li class="dropdown dropdown-outlined">
            <a href='#' class='dropdown-toggle general-padding-small' data-toggle='dropdown'>
              Current Season: <%= season_name %> <b class='caret'></b>
            </a>
            <ul class="dropdown-menu js-season-selector">
              <% Season.all.each_with_index do |season, i| %>
                  <li class="<%= 'active' if season.name == season_name %>"><%= link_to season.name, '#' %></li>
              <% end %>
            </ul>
            <%= form_tag season_path('selected_season'), method: :patch, class: 'js-season-form' do %>
                <%= hidden_field_tag 'season[name]', nil, class: 'js-season-input' %>
            <% end %>
          </li>



      </ul>
    </div>
  </nav>
<% end %>
