<!DOCTYPE html>
<html lang='en'>
<%= render 'shared/head' %>
<body>

  <!--[if lt IE 8]>
  <div class="alert alert-danger">
    <p class="browsehappy text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  </div>
  <![endif]-->

  <div class='container'>

    <nav class='navbar top-buffer' role='navigation'>
      <%= render 'layouts/nav' %>
    </nav>

    <%= render 'shared/flash' %>

    <section class='main-content'>
      <%= yield %>
    </section>

    <hr />

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </div>


<%= render 'layouts/jquery_with_cdn_fallback' %>
<%= render 'layouts/tracking' %>

</body>
</html>
