<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Joyfoodly</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>

    <nav class='navbar top-buffer' role='navigation'>
      <%= render 'layouts/nav' %>
    </nav>

    <% flash.each do |name, msg| %>
      <% if msg.present? %>
        <div class='alert alert-<%= name == :notice ? 'success' : 'danger' %>'>
          <a class='close' data-dismiss='alert'>×</a>
          <%= msg.html_safe %>
        </div>
      <% end %>
    <% end %>

    <section class='main-content'>
      <%= yield %>
    </section>

    <hr />

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </div>


<%= render 'layouts/jquery_with_cdn_fallback' %>
<%= render 'layouts/tracking' %>
<%= javascript_include_tag 'application' %>

</body>
</html>
