<!DOCTYPE html>
<html>
<head>
  <title>Joyfoodly</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <header class="masthead">
      <h1>The Joyful Twelve</h1>
    </header>

    <section class='main-content'>
      <%= yield %>
    </section>

    <hr />

    <footer>
      <p>&copy; JoyFoodly <%= Date.current.year %></p>
    </footer>

  </div>


<%= render 'layouts/jquery_with_cdn_fallback' %>
<%= javascript_include_tag 'application' %>

</body>
</html>
