<div class="spacer"></div>
<div class='row'>
  <div class='col-md-12'>
    <h1>What is the Joyful 12?</h1>
  </div>
</div>
<div class='row'>
  <div class='col-md-5'>
    <h4>
      The Joyful 12 is a crash course in helping your family eat more fruits and veggies from Chef Hollie Greene.
    </h4>
    <p class="bottom-padding">Watch the video to the right or scroll down to learn more!</p>
    <img class="img-responsive" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/2ba673432eaa163325512a8150f1680b501c9f18.png?1393741295" />
  </div>
  <div class='col-md-6 col-md-offset-1'>
    <div class="video-embed">
      <iframe src="//player.vimeo.com/video/88189339?portrait=0&amp;color=4196b4" width="584" height="329" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="page-sub-header text-center top-buffer top-padding">
  <h2 class="dotted">Join Us Now!</h2>
  <h3 class="no-buffer">We only have room for 50 people in our Beta.</h3> <p>Not sure yet? Scroll down for more features.</p>
</div>

<div class='row top-buffer bottom-buffer'>

  <div class='col-md-5 bg-grey right-padding left-padding bottom-padding'>
    <h2>Beta Member Discount | <%= number_to_currency(ENV['BETA_PRICE'].to_i / 100) %></h2>
    <h4>The first 50 people to sign up receive:</h4>
    <ul>
      <li>Access to our entire Spring classroom, with parent resources, recipes, videos and tips for cooking with kids</li>
      <li>A guide to buying, cooking and eating 12 fruits and vegetables growing in that season</li>
      <li>36 kid and family friendly visual recipes that have been tested gluten free</li>
      <li>Quick videos to learn kitchen techniques to make cooking easier</li>
      <li>A weekly game plan, from easiest to more challenging recipes for your family’s busy schedule</li>
      <li>50% off the normal cost of a subscription, plus 20% off Summer/Fall 2014</li>
    </ul>
    <p><strong>BONUS! You'll also have access to 6 winter fruits and vegetables, with 18 recipes, and a free canvas "living
      veggie love" shopping bag with goodies!</strong></p>
    <p><strong>Only <%= number_to_currency(ENV['BETA_PRICE'].to_i / 100) %> for access to the beta! </strong></p>
    <%= form_tag user_registration_path, method: :post do %>
        <%= hidden_field_tag :product_id, 'beta' %>
        <script
        src='https://checkout.stripe.com/checkout.js' class='stripe-button'
        data-key='<%= ENV['STRIPE_PUBLIC_KEY'] %>'
        data-image='<%= image_path('payments/stripe-store-image.png') %>'
        data-label='Sign Up Now'
        data-name='Joyful 12'
        data-panel-label='Pay {{amount}}'
        data-billing-address='true'
        data-shipping-address='true'
        data-description='Joyful 12 Beta (<%= number_to_currency(ENV['BETA_PRICE'].to_i / 100) %>)'
        data-amount='<%= ENV['BETA_PRICE'] %>'>
        </script>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h2 class="text-center">Beta Member Bonuses</h2>
    <h4 class="centered top-buffer bottom-padding">Bonus! Since we're so excited about our new class, the 50 Beta users will
      receive a free canvas "living veggie love" shopping bag with goodies and access to an additional 18 winter
      recipes! You'll also receive 20% off Summer/Fall 2014 seasons.</h4>
    <img class="centered" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/b1ccfa17ec1ab55686e582f9791cd315f5a45800.png?1393744432" />
  </div>
</div>





<div class='hidden-xs row top-buffer top-padding'>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Spinach" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/1veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Potato" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/2veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Fennel" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/3veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Avocado" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/4veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Asparagus" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/5veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Radish" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/12veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Green Onion" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/6veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Rhubarb" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/7veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Peas" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/8veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Artichoke" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/9veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Greens" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/10veg.png"/>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <img class='wiggle centered' alt="Strawberry" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/11veg.png"/>
  </div>

</div>


<div class="row top-buffer">
  <div class="col-md-2 col-md-offset-2">
    <img class="hidden-xs top-buffer top-padding bottom-padding" src="http://www.joyfoodly.com/wp-content/uploads/2014/01/hollie-round.png" />
  </div>
  <div class="col-md-6">
    <h1>Meet Chef Hollie</h1>
    <p>
      After teaching 2,000 kids across the country, from the East Coast to California, I discovered that kids naturally
      love exploring and eating fruits and vegetables. Let me help your family get more fruits and veggies into your diet
      each season with JOY.
    </p>
  </div>
</div>

<div class="page-sub-header text-center top-buffer top-padding">
  <h2 class="dotted">What's Included in the Joyful 12</h2>
</div>
<img class="img-responsive" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/24216faf2a776dadc6979cee82415d830967dc18.png?1393810415" />


<div class="page-sub-header text-center top-buffer top-padding">
  <h2 class="dotted">We’re here for you season after season</h2>
</div>

<p>
  All your recipe favorites, family notes, and shopping lists are stored in your family’s Joyful 12 profile so next
  winter you won’t have to begin all over again. This is a complete curriculum that you can adjust to your own tastes
  and schedule.
</p>
<img class="centered top-padding img-responsive" src="http://www.joyfoodly.com/wp-content/uploads/2014/01/spinach-threeways.png" />

<div class="page-sub-header text-center top-buffer top-padding">
  <h2 class="dotted">Why our course is right for you</h2>
</div>

<div class="col-md-10 col-md-offset-1 bg-grey general-padding text-center">
  <h4 class="bottom-buffer">I know you are time pressed, so I make deciding what’s for dinner easier.</h4>
  <h4 class="bottom-buffer">I test all of my recipes with your child in mind. Believe me, they’ll like it!</h4>
  <h4 class="bottom-buffer">I don’t judge! I will help your family eat more veggies along with their favorite foods.</h4>
  <h4 class="bottom-buffer">I’ll share with you all my kitchen tricks to help make cooking fun again!</h4>
</div>


<div class="row top-buffer">
  <div class="col-md-12 top-padding">
    <h1>What Parents Are Saying...</h1>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
    <blockquote>
      <p><em>"We made the dreamy greenie quesadillas tonight. They were fabulous! Even my son loved them and I thought the
        greens would be a hard sell. They were really filling so I have leftovers for lunch. And I love that avocado
        sauce…I could eat that everyday. We’re having fun trying the Joyful 12 recipes. The kids are always willing to
        try something new if I tell them it’s your recipe."</em></p>
      <small class="pull-right">
        <img class="right-padding-small" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/augusta-testimonial.png" />
        Augusta, <cite title="Source Title">South Carolina, Mom of 2</cite>
      </small>
    </blockquote>
  </div>
</div>


<div class="page-sub-header text-center top-buffer top-padding">
  <h1 class="dotted">Are you excited to join us?</h1>
</div>
<div class='col-md-10 col-md-offset-1 bg-grey right-padding left-padding bottom-padding'>
  <h2 class="text-center">Beta Member Discount | <%= number_to_currency(ENV['BETA_PRICE'].to_i / 100) %></h2>

  <div class="col-md-7 col-md-offset-1 bg-grey left-padding bottom-padding">
    <p><strong>Full access to our Spring Joyful 12 course, with recipes, tutorials, videos, tips, and resources!</strong></p>
    <p><strong>BONUS! You'll also have access to 6 winter fruits and vegetables, with 18 recipes, and a free canvas "living
      veggie love" shopping bag with goodies! Beta members will receive 20% off Fall/Winter 2014 classes.</strong></p>
    <p><strong>Only <%= number_to_currency(ENV['BETA_PRICE'].to_i / 100) %> for access to the beta! </strong></p>
    <%= form_tag user_registration_path, method: :post do %>
        <%= hidden_field_tag :product_id, 'beta' %>
        <script
        src='https://checkout.stripe.com/checkout.js' class='stripe-button'
        data-key='<%= ENV['STRIPE_PUBLIC_KEY'] %>'
        data-image='<%= image_path('payments/stripe-store-image.png') %>'
        data-label='Sign Up Now'
        data-name='Joyful 12'
        data-panel-label='Pay {{amount}}'
        data-billing-address='true'
        data-shipping-address='true'
        data-description='Joyful 12 Beta (<%= number_to_currency(ENV['BETA_PRICE'].to_i / 100) %>)'
        data-amount='<%= ENV['BETA_PRICE'] %>'>
        </script>
    <% end %>
  </div>
  <div class="col-md-3 bg-grey bottom-padding">
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/94e2314e710a34bce79edb1c29aafb6772fbcfe8.png?1393752100" />
  </div>
</div>
<div class='spacer'></div>

<div class='row'>
  <div class='col-md-12 top-buffer'>
    <h1>About JoyFoodly</h1>
    <p>
      The Joyful 12 was created and developed by the same JoyFoodly™ team that produces highly acclaimed visual
      recipes and technique timeouts. <a href="http://joyfoodly.com">Visit the JoyFoodly website to learn more.</a>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <h1>About Chef Hollie</h1>
    <p>
      Chef Hollie is a vegetable enthusiast and food educator with a mission to transform kids’ relationship with food.
      Hollie founded JoyFoodly™, a San Francisco mission based company, to create a new food culture where kids and
      families celebrate the JOY of good food together. Hollie is passionate about helping parents feel good about the
      food they feed their kids.
    </p>
    <p>
      Chef Hollie has taught over 2,000 children in New York and California through her work with non-profit programs
      partnering with Rachael Ray’s Yum-O!, Mayor Bloomberg, and Mary J. Blige. She is a Professional Expert for the
      State of California’s Healthy CA Kids Initiative and has worked as an Education Director for The Sylvia Center and
      Chef in Residence in NYC Schools through Wellness in the Schools to improve School Food. Prior to attending the
      French Culinary Institute in New York City,Hollie spent ten years creating global leadership development programs.
      This experience infuses her fun and positive approach to helping families gain confidence in the kitchen.
    </p>
  </div>
</div>
