<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-4'>
      <h2 class='form-signup-header'>Sign up for Joyful12</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signup' }) do |f| %>
        <%= devise_error_messages! %>
        <div class='account-info'>
          <div class='form-inline'>
            <div class="form-group">
              <%= f.label :first_name%><br />
              <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
          <h3>It will cost <%= @price %> dollars.</h3>
          <%= f.submit 'Add Billing Information', class: 'btn btn-lg btn-primary btn-block toggler' %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
    <div class='form-signup-photo'>
      <p>We're passionate about helping parents feel good about the food they feed their kids and
        helping families celebrate the JOY of mealtime together.<p>
    </div>
  </div>
</div>
