<div class="spacer"></div>
<div class='row'>
 <div class='col-md-12'>
  <h1>What is the Joyful 12?</h1>
 </div>
</div>
<div class='row'>
  <div class='col-md-5'>
    <h4>
      The Joyful 12™ is an online crash course for families to eating the season!
    </h4>
    <p class="bottom-padding">Watch the video to the right or scroll down to learn more!</p>
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/2ba673432eaa163325512a8150f1680b501c9f18.png?1393741295" />
  </div>
  <div class='col-md-6 col-md-offset-1'>

    <iframe src="//player.vimeo.com/video/87646984?portrait=0&amp;color=f3cd00" width="584" height="329" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-12">
    <h1>Join Us Now!</h1>
    <h3>Not sure yet? Scroll down for more features.</h3>
  </div>
</div>

<div class='row top-buffer subscription-options'>

  <div class='col-md-4 first-subscription'>
    <h4>Seasonal Subscription</h4>
    <p>Get the full spring curriculum including:</p>
    <ul>
      <li>9 vegetable lessons. Each with 3 recipes to try.</li>
    </ul>
    <p><strong>$20 for the season. </strong></p>
    <%= form_tag user_registration_path, method: :post, id: 'first-subscription' do |f| %>
        <%= hidden_field_tag :plan_id, 'seasonal' %>
        <script
        src='https://checkout.stripe.com/checkout.js' class='stripe-button'
        data-key='<%= ENV['STRIPE_PUBLIC_KEY'] %>'
        data-image='<%= image_path('favicon.ico') %>'
        data-label='Sign Up Now'
        data-name='Joyful 12'
        data-panel-label='Pay {{amount}}'
        data-billing-address='true'
        data-description='Seasonal Subscription ($20.00)'
        data-amount='2000'>
        </script>
    <% end %>
  </div>

  <div class='col-md-4 second-subscription'>
    <h4>Beta Subscription</h4>
    <p>Get the full curriculum including:</p>
    <ul>
      <li>9 vegetable lessons. Each with 3 recipes to try.</li>
      <li>3 fruit lessons. Each with a dessert recipe to try.</li>
      <li>
        Parent resources. Including a sample schedule, pantry essential lists, an interactive shopping list, and a game.
      </li>
      <li>If you agree to give us feedback, we'll give you 6 winter fruits and vegitables as well.</li>
    </ul>
    <p><strong>$20 for the season. </strong></p>
    <%= form_tag user_registration_path, method: :post do %>
        <%= hidden_field_tag :product_id, 'beta' %>
        <script
        src='https://checkout.stripe.com/checkout.js' class='stripe-button'
        data-key='<%= ENV['STRIPE_PUBLIC_KEY'] %>'
        data-image='<%= image_path('favicon.ico') %>'
        data-label='Sign Up Now'
        data-name='Joyful 12'
        data-panel-label='Pay {{amount}}'
        data-billing-address='true'
        data-shipping-address='true'
        data-description='Beta Subscription ($20.00)'
        data-amount='2000'>
        </script>
    <% end %>
  </div>

  <div class='col-md-4 first-subscription'>
    <h4>Full Year Subscription (best value)</h4>
    <p>Get the full spring curriculum including:</p>
    <ul>
      <li>9 vegetable lessons. Each with 3 recipes to try.</li>
    </ul>
    <p><strong>$20 for the season. </strong></p>
    <%= form_tag user_registration_path, method: :post do %>
        <%= hidden_field_tag :plan_id, 'annual' %>
        <script
        src='https://checkout.stripe.com/checkout.js' class='stripe-button'
        data-key='<%= ENV['STRIPE_PUBLIC_KEY'] %>'
        data-image='<%= image_path('favicon.ico') %>'
        data-label='Sign Up Now'
        data-name='Joyful 12'
        data-panel-label='Pay {{amount}}'
        data-billing-address='true'
        data-shipping-address='true'
        data-description='Full Year Subscription ($20.00)'
        data-amount='2000'>
        </script>
    <% end %>
  </div>

</div>







<div class='row top-buffer'>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-spinach">
      <img class='wiggle centered' alt="Spinach" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/1veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-potato">
      <img class='wiggle centered' alt="Potato" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/2veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-fennel">
      <img class='wiggle centered' alt="Fennel" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/3veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-avocado">
      <img class='wiggle centered' alt="Avocado" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/4veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-asparagus">
      <img class='wiggle centered' alt="Asparagus" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/5veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-radish">
      <img class='wiggle centered' alt="Radish" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/12veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-green-onion">
      <img class='wiggle centered' alt="Green Onion" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/6veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-rhubarb">
      <img class='wiggle centered' alt="Rhubarb" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/7veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-peas">
      <img class='wiggle centered' alt="Peas" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/8veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-artichoke">
      <img class='wiggle centered' alt="Artichoke" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/9veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-greens">
      <img class='wiggle centered' alt="Greens" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/10veg.png"/>
    </a>
  </div>

  <div class="col-lg-2 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-strawberry">
      <img class='wiggle centered' alt="Strawberry" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/11veg.png"/>
    </a>
  </div>


</div>



<div class="row top-buffer">
  <div class="col-md-12">
    <h1>What Parents Are Saying...</h1>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
    <blockquote>
      <p>"We made the dreamy greenie quesadillas tonight. They were fabulous! Even my son loved them and I thought the
        greens would be a hard sell. They were really filling so I have leftovers for lunch. And I love that avocado
        sauce…I could eat that everyday. We’re having fun trying the Joyful 12 recipes. The kids are always willing to
        try something new if I tell them it’s your recipe."</p>
      <small class="pull-right">
        <img class="right-padding-small" src="http://www.joyfoodly.com/wp-content/uploads/2014/02/augusta-testimonial.png" />
        Augusta, <cite title="Source Title">South Carolina, Mom of 2</cite>
      </small>
    </blockquote>
  </div>
</div>

<div class="row top-buffer">
    <div class="col-md-2 col-md-offset-2">
      <img src="http://www.joyfoodly.com/wp-content/uploads/2014/02/listitem1.png" />
    </div>
    <div class="col-md-6 col-md-offset-1 bg-grey">
      <p>My proven methods to get your kids to fall in love with exploring each of the 12 fruits and vegetables</p>
    </div>

</div>

<div class='spacer'></div>

<p class="italic">
  The Joyful 12 was created and developed by the same JoyFoodly™ team that produces highly acclaimed visual
  recipes and technique timeouts. <a href="http://joyfoodly.com">Visit the JoyFoodly website to learn more.</a>
</p>


