<div class='row'>
  <div class='col-md-6'>
    <h1>What is the Joyful 12?</h1>
    <p>
      The Joyful 12™ is an online crash course for families to eating the season!
    </p>
    <p>
      What you'll get every season:
    </p>
    <ul>
      <li>30 seasonal recipes, with step-by-step photos</li>
      <li>15+ videos to help explain cooking techniques</li>
      <li>Interactive features to make the process fun</li>
      <li>Parent resources to help you along</li>
      <li>The information you need to excite your family about vegetables!</li>
    </ul>
  </div>
  <div class='col-md-6'>
    <%= image_tag 'signup-page/video-image.jpg', class: 'img-responsive' %>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-12">
    <h1>Subscribe Now</h1>
    <p>Not sure yet? Scroll down for more features.</p>
  </div>
</div>

<div class='row top-buffer subscription-options'>

  <div class='col-md-4 first-subscription'>
    <h4>Seasonal Subscription</h4>
    <p>Get the full spring curriculum including:</p>
    <ul>
      <li>9 vegetable lessons. Each with 3 recipes to try.</li>
    </ul>
    <h5>$20 for the season.</h5>
    <%= form_tag user_registration_path, method: :post, id: 'first-subscription' do |f| %>
        <%= hidden_field_tag :plan_id, 'seasonal' %>
        <script
        src='https://checkout.stripe.com/checkout.js' class='stripe-button'
        data-key='<%= ENV['STRIPE_PUBLIC_KEY'] %>'
        data-image='<%= image_path('favicon.ico') %>'
        data-label='Sign Up Now'
        data-name='Joyful 12'
        data-panel-label='Pay {{amount}}'
        data-billing-address='true'
        data-description='Seasonal Subscription ($20.00)'
        data-amount='2000'>
        </script>
    <% end %>
  </div>

  <div class='col-md-4 second-subscription'>
    <h4>Beta Subscription</h4>
    <p>Get the full curriculum including:</p>
    <ul>
      <li>9 vegetable lessons. Each with 3 recipes to try.</li>
      <li>3 fruit lessons. Each with a dessert recipe to try.</li>
      <li>
        Parent resources. Including a sample schedule, pantry essential lists, an interactive shopping list, and a game.
      </li>
      <li>If you agree to give us feedback, we'll give you 6 winter fruits and vegitables as well.</li>
    </ul>
    <h5>$20 for the season.</h5>
    <%= form_tag user_registration_path, method: :post do %>
        <%= hidden_field_tag :plan_id, 'beta' %>
        <script
        src='https://checkout.stripe.com/checkout.js' class='stripe-button'
        data-key='<%= ENV['STRIPE_PUBLIC_KEY'] %>'
        data-image='<%= image_path('favicon.ico') %>'
        data-label='Sign Up Now'
        data-name='Joyful 12'
        data-panel-label='Pay {{amount}}'
        data-billing-address='true'
        data-description='Beta Subscription ($20.00)'
        data-amount='2000'>
        </script>
    <% end %>
  </div>

  <div class='col-md-4 first-subscription'>
    <h4>Full Year Subscription (best value)</h4>
    <p>Get the full spring curriculum including:</p>
    <ul>
      <li>9 vegetable lessons. Each with 3 recipes to try.</li>
    </ul>
    <h5>$20 for the season.</h5>
    <%= form_tag user_registration_path, method: :post do %>
        <%= hidden_field_tag :plan_id, 'annual' %>
        <script
        src='https://checkout.stripe.com/checkout.js' class='stripe-button'
        data-key='<%= ENV['STRIPE_PUBLIC_KEY'] %>'
        data-image='<%= image_path('favicon.ico') %>'
        data-label='Sign Up Now'
        data-name='Joyful 12'
        data-panel-label='Pay {{amount}}'
        data-billing-address='true'
        data-description='Full Year Subscription ($20.00)'
        data-amount='2000'>
        </script>
    <% end %>
  </div>

</div>

<div class="row top-buffer">
  <div class="col-md-12">
    <h1>Don't just take our word for it:</h1>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
    <blockquote>
      <p>"This program was so easy to use. I feel so much better about what I'm feeding my family, and everyone loves
        the recipes. I feel more empowered to talk to my kids about food, while other programs make me feel completely
        guilty - not the Joyful 12! Totally worth it."</p>
      <small class="pull-right">Jane Smith, <cite title="Source Title">Accountant and Mother of 3</cite></small>
    </blockquote>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-12">
    <h1>Delicious, Seasonal Recipes for your Family</h1>
    <p>Each season, get 30 seasonal recipes with easy step-by-step photos, dietary substitutions, and tips for getting
      your kids involved. It's as easy as 1, 2, 3!</p>
  </div>
</div>
<div class="row top-buffer">
  <div class='col-md-3'><%= image_tag 'signup-page/ingredients.jpg', class: 'img-responsive' %></div>
  <div class='col-md-3'><%= image_tag 'signup-page/cutting.jpg', class: 'img-responsive' %></div>
  <div class='col-md-3'><%= image_tag 'signup-page/blender.jpg', class: 'img-responsive' %></div>
  <div class='col-md-3'><%= image_tag 'signup-page/final.jpg', class: 'img-responsive' %></div>
</div>
<div class="row">
  <div class="col-md-12 caption">
    <p>The Can't Beet a Pink Smoothie.</p>
  </div>
</div>


<div class="row top-buffer">
  <div class="col-md-12">
    <h1>Quick Technique Videos to make Cooking a Breeze</h1>
    <p>Sometimes, words and images just don't do the trick. We have tons of short, snappy technique videos to
    demonstrate cooking techniques that make the entire process painless for you.</p>
  </div>
</div>
<div class='row top-buffer'>
  <div class='col-md-4'><%= image_tag 'signup-page/video-1.jpg', class: 'img-responsive' %></div>
  <div class='col-md-4'><%= image_tag 'signup-page/video-2.jpg', class: 'img-responsive' %></div>
  <div class='col-md-4'><%= image_tag 'signup-page/video-3.jpg', class: 'img-responsive' %></div>
</div>

<div class="row top-buffer">
  <div class="col-md-12">
    <h1>Interactive Features that Make the Process Fun</h1>
    <p>It's not just recipes! Fill out a profile to track your progress, archive weekly interactive shopping lists,
    and receive all sorts of extra parent resources to make your time in the kitchen joyful. We'll even send you weekly
    emails with easy links to recipes, shopping lists, and a giant helping of joy and motivation.</p>
  </div>
</div>
<div class='row top-buffer'>
  <div class='col-md-4'><%= image_tag 'signup-page/interactive-1.jpg', class: 'img-responsive' %></div>
  <div class='col-md-4'><%= image_tag 'signup-page/interactive-2.jpg', class: 'img-responsive' %></div>
  <div class='col-md-4'><%= image_tag 'signup-page/interactive-3.jpg', class: 'img-responsive' %></div>
</div>

<div class="row top-buffer">
  <div class="col-md-12">
    <h1>As Featured In</h1>
  </div>
</div>
<div class='row top-buffer'>
  <div class='col-md-12'><%= image_tag 'signup-page/logos.jpg', class: 'img-responsive' %></div>
</div>

<div class='spacer'></div>

<p class="italic">
  The Joyful 12 was created and developed by the same JoyFoodly™ team that produces highly acclaimed visual
  recipes and technique timeouts. <a href="http://joyfoodly.com">Visit the JoyFoodly website to learn more.</a>
</p>


